.container {
  position: relative;
  display: flex;
}
.contents {
  width: 100%;
  // min-height: calc(100vh - 80px);
  height: 100%;
  overflow: hidden;
}
.favorite {
  margin-top: -0.1rem;
  margin-left: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url(../images/common/favorite.png);
  &.checked {
    background-image: url(../images/common/favorite_clicked.png);
  }
}
.tit-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .h1 {
    display: flex;
    align-items: center;
  }
  .tooltip,
  .favorite {
    font-size: 0;
    display: inline-block;
    cursor: pointer;
  }
  .path {
    display: flex;
    align-items: center;
    > a {
      position: relative;
      display: block;
      margin-right: 2.4rem;
      font-size: 1.4rem;
      line-height: 2rem;
      &.home {
        width: 2rem;
        font-size: 0;
        background: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.875 10L9.33667 2.5375C9.70333 2.17166 10.2967 2.17166 10.6625 2.5375L18.125 10M3.75 8.125V16.5625C3.75 17.08 4.17 17.5 4.6875 17.5H8.125V13.4375C8.125 12.92 8.545 12.5 9.0625 12.5H10.9375C11.455 12.5 11.875 12.92 11.875 13.4375V17.5H15.3125C15.83 17.5 16.25 17.08 16.25 16.5625V8.125M6.875 17.5H13.75' stroke='%23666666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
          center center / 100% no-repeat;
      }
      &:last-child {
        margin-right: 0;
        font-weight: 700;
        &::after {
          content: none;
        }
      }
    }
    > a:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      width: 2.4rem;
      height: 2.4rem;
      background: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 17L14.7879 12.2121C14.905 12.095 14.905 11.905 14.7879 11.7879L10 7' stroke='%23999999' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }
  }
}
.rounded {
  display: block;
  height: 2.6rem;
  padding: 0.4rem 1.2rem;
  background-color: var(--disabled-bg-color);
  border: 1px solid var(--line-color02);
  border-radius: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--sub-txt-color);
}
.consulting {
  position: fixed;
  bottom: 8rem;
  right: 0;
  padding: 1.2rem 2.4rem 1.2rem 5rem;
  background: #fae100 url(../images/common/kakao-talk.png) left 1.6rem center / 3.2rem 3.2rem no-repeat;
  border-radius: 2.4rem 0 0 2.4rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.index-inner {
  padding: 4rem;
  .txt-wrap {
    display: flex;
    align-items: baseline;
  }
  h3 {
    margin-right: 1rem;
    font-size: 3.2rem;
    color: var(--base-txt-color);
  }
  span {
    color: var(--sub-txt-color2);
  }
  .table td {
    text-align: center;
    color: var(--sub-txt-color);
  }
}
.login {
  width: 100%;
  height: 100%;
  background: #edf4fe;
  .login-contents {
    display: flex;
    justify-content: space-between;
    width: 160rem;
    height: 100%;
    margin: 0 auto;
    padding: 2.4rem;
  }
  .login-design {
    position: relative;
    width: 100%;
    .component {
      position: absolute;
      top: 50%;
      left: 18.8rem;
      transform: translateY(-50%);
      height: 83rem;
      padding-top: 10.5rem;
    }
  }
  .logo {
    display: block;
    width: 32rem;
    height: 6.2rem;
    margin: 0 auto;
    font-size: 0;
    background: url(../images/common/marketwiz-login-logo.png) left center / 100% no-repeat;
  }
  .log-art {
    width: 65.9rem;
    height: 48.1rem;
    margin-top: 18.2rem;
    background: url(../images/common/login-art.png) no-repeat;
  }
  .login-ui {
    flex-shrink: 0;
    position: relative;
    width: 48rem;
    background-color: var(--white-color);
    border-radius: 2rem;
    text-align: center;
  }
  .components {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    margin-bottom: 4rem;
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}
.btn-log {
  display: block;
  width: 34rem;
  height: 5.6rem;
  margin-bottom: 1.2rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  text-align: center;
  &.naver {
    background: #00c73c url(../images/common/naver.png) left 1rem center / 4.8rem 4.8rem no-repeat;
    color: var(--white-color);
  }
  &.kakao {
    margin-right: 0;
    background: #fae100
      url("data:image/svg+xml,%0A%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0.5C6.09621 0.5 0.5 4.92952 0.5 10.3967C0.5 13.954 2.86971 17.0717 6.429 18.8161C6.16701 19.7923 5.48253 22.3568 5.34564 22.9052C5.1757 23.5859 5.59347 23.5765 5.86962 23.3945C6.0844 23.2503 9.29437 21.0639 10.6799 20.1208C11.4328 20.2319 12.2069 20.291 13 20.291C19.9038 20.291 25.5 15.8615 25.5 10.3967C25.5 4.93188 19.9038 0.5 13 0.5Z' fill='%23371D1E'/%3E%3C/svg%3E%0A")
      left 2.25rem center / 2.5rem 2.3rem no-repeat;
  }
  &.google {
    margin-bottom: 0;
    background: url(../images/common/google.png) left 1.1rem center / 4.8rem 4.8rem no-repeat;
    border: 1px solid var(--line-color02);
  }
}
.tooltip-wrap {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
  &:hover {
    .tooltip-txt {
      display: block;
    }
  }
}
.tooltip {
  display: inline-block;
  margin-left: 0.4rem;
  margin-right: 0;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z' fill='%23DBDBDB'/%3E%3Cpath d='M7.91663 8.0268C7.91663 5.10219 12.0833 5.10219 12.0833 8.0268C12.0833 10.1158 9.86468 9.698 9.86468 12.2048M9.86468 14.1667L9.87117 14.1575' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.tooltip-txt {
  display: none;
  position: absolute;
  top: -0.3rem;
  left: calc(100% + 0.8rem);
  padding: 0.6rem 1rem;
  background: var(--bg-color);
  border-radius: 0.4rem;
  box-sizing: border-box;
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 400;
  white-space: nowrap;
  line-height: 1.4rem;
  &::before {
    content: "";
    position: absolute;
    left: -0.7rem;
    top: 0.5rem;
    width: 1.6rem;
    height: 1.6rem;
    background: url("data:image/svg+xml,%0A%3Csvg width='11' height='14' viewBox='0 0 11 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.499999 7.86602C-0.166668 7.48112 -0.166667 6.51887 0.5 6.13397L9.5 0.937821C10.1667 0.552921 11 1.03405 11 1.80385L11 12.1962C11 12.966 10.1667 13.4471 9.5 13.0622L0.499999 7.86602Z' fill='%23273043'/%3E%3C/svg%3E%0A")
      center / 100% no-repeat;
  }
  p {
    position: relative;
    margin-bottom: 0.4rem;
    &:last-child {
      margin-bottom: 0;
    }
    &.dot {
      padding-left: 1rem;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0.2rem;
        transform: translateY(-50%);
        width: 0.2rem;
        height: 0.2rem;
        border-radius: 50%;
        background-color: var(--white-color);
      }
    }
  }
}
.new {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 0.4rem;
  vertical-align: text-top;
  background: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z' fill='%23FF3528'/%3E%3Cpath d='M11.625 5.625V12.375H10.6015L7.575 7.76001H7.52206V12.375H6.375V5.625H7.41618L10.425 10.24H10.4868V5.625H11.625Z' fill='white'/%3E%3C/svg%3E%0A")
    center center / 1.6rem 1.6rem no-repeat;
  font-size: 0;
}
.classify-wrap {
  position: relative;
  display: flex;
  width: 6.1rem;
  height: 3.2rem;
  margin-left: 0.4rem;
  border: 1px solid var(--line-color01);
  border-radius: 0.6rem;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 100%;
    background-color: var(--bg-color-blue01);
  }
  .classify {
    width: 3rem;
    line-height: 3.2rem;
    font-size: 0;
    background-position: center;
    background-size: 2.4rem 2.4rem;
    background-repeat: no-repeat;
    &.image {
      background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6H11V11H6V6Z' fill='%23DDDDDD'/%3E%3Cpath d='M6 13H11V18H6V13Z' fill='%23DDDDDD'/%3E%3Cpath d='M13 6H18V11H13V6Z' fill='%23DDDDDD'/%3E%3Cpath d='M13 13H18V18H13V13Z' fill='%23DDDDDD'/%3E%3C/svg%3E%0A");
      &:hover,
      &.active {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6H11V11H6V6Z' fill='%23055DB5'/%3E%3Cpath d='M6 13H11V18H6V13Z' fill='%23055DB5'/%3E%3Cpath d='M13 6H18V11H13V6Z' fill='%23055DB5'/%3E%3Cpath d='M13 13H18V18H13V13Z' fill='%23055DB5'/%3E%3C/svg%3E%0A");
      }
    }
    &.list {
      background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' fill='white'/%3E%3Crect x='5' y='6' width='14' height='2' fill='%23DDDDDD'/%3E%3Crect x='5' y='11' width='14' height='2' fill='%23DDDDDD'/%3E%3Crect x='5' y='16' width='14' height='2' fill='%23DDDDDD'/%3E%3C/svg%3E%0A");
      &:hover,
      &.active {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' fill='white'/%3E%3Crect x='5' y='6' width='14' height='2' fill='%23055DB5'/%3E%3Crect x='5' y='11' width='14' height='2' fill='%23055DB5'/%3E%3Crect x='5' y='16' width='14' height='2' fill='%23055DB5'/%3E%3C/svg%3E%0A");
      }
    }
  }
}
.require {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 1.6rem;
  &::after {
    content: "*";
    position: absolute;
    right: -1rem;
    color: #ff0000;
  }
}
.has-claim {
  margin-right: 0.8rem;
  padding-left: 2.4rem;
  background: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z' fill='%23FF1C37'/%3E%3Cpath d='M12.6348 7L12.546 13.6016H11.4796L11.3907 7H12.6348ZM12.0128 16.2676C11.5684 16.2676 11.1876 15.8994 11.2003 15.4424C11.1876 14.998 11.5684 14.6299 12.0128 14.6299C12.4571 14.6299 12.8253 14.998 12.8253 15.4424C12.8253 15.8994 12.4571 16.2676 12.0128 16.2676Z' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E%0A")
    left center / 2.4rem 2.4rem no-repeat;
  color: var(--alert-txt-color);
  font-weight: 600;
}
.detail-view {
  width: 2.4rem;
  height: 2.4rem;
  background: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23E5E9F2'/%3E%3Cpath d='M12.8109 14.8764C12.4117 15.4295 11.5883 15.4295 11.1891 14.8764L8.8139 11.5852C8.3366 10.9238 8.80917 10 9.62478 10L14.3752 10C15.1908 10 15.6634 10.9238 15.1861 11.5852L12.8109 14.8764Z' fill='%2342444E'/%3E%3C/svg%3E%0A")
    center center / 2.4rem 2.4rem no-repeat;
  font-size: 0;
  &.ty2 {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8109 14.8764C12.4117 15.4295 11.5883 15.4295 11.1891 14.8764L8.8139 11.5852C8.3366 10.9238 8.80917 10 9.62478 10L14.3752 10C15.1908 10 15.6634 10.9238 15.1861 11.5852L12.8109 14.8764Z' fill='%2342444E'/%3E%3C/svg%3E%0A");
  }
  &.open {
    transform: rotate(180deg);
  }
}
.td-notice {
  position: relative;
  padding-left: 1rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--sub-txt-color2);
  &::before {
    content: "※";
    position: absolute;
    left: 0;
    top: 0;
  }
}
.record-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  ul {
    width: 27.6rem;
    height: 13.2rem;
    border-top: 1px solid var(--line-color01);
    border-bottom: 1px solid var(--line-color01);
  }
  li {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 1.2rem;
    border-bottom: 1px solid var(--line-color03);
    &:last-child {
      border-bottom: none;
    }
  }
}
.service-notice {
  padding: 1.6rem;
  background-color: var(--disabled-bg-color);
  border-top: 1px solid var(--line-color01);
  border-bottom: 1px solid var(--line-color01);
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--strong-txt-color);
  dl {
    display: flex;
    + dl {
      margin-top: 1.6rem;
      padding-top: 1.6rem;
      border-top: 1px solid var(--line-color02);
    }
    dt {
      width: 11.2rem;
    }
  }
  li {
    padding: 0.6rem;
    border-bottom: 1px solid var(--line-color02);
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .dot {
    position: relative;
    color: var(--strong-txt-color);
    &::before {
      content: "";
      position: absolute;
      left: 0.6rem;
      top: 50%;
      transform: translateY(-50%);
      width: 0.2rem;
      height: 0.2rem;
      background-color: var(--sub-txt-color);
      border-radius: 50%;
    }
  }
  p {
    padding-left: 1.4rem;
    color: var(--sub-txt-color);
  }
}

.badge {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
  border-radius: 2px;
  font-weight: 600;

  &.a-complete {
    color: var(--primary-color2);
    background-color: #e3edff;
  }

  &.complete {
    color: #423895;
    background-color: #eeebff;
  }
  &.waiting {
    color: #109b6e;
    background-color: #d2f0ec;
  }
  &.collecting {
    color: #f68827;
    background-color: #f8ebde;
  }
}
.img-box {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
  span {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 0;
    background: rgba($color: #000000, $alpha: 0.5)
      url("data:image/svg+xml,%0A%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 13L9.53548 9.53548M9.53548 9.53548C10.4732 8.59781 10.9999 7.32605 10.9999 5.99997C10.9999 4.6739 10.4732 3.40213 9.53548 2.46446C8.59781 1.52678 7.32605 1 5.99997 1C4.6739 1 3.40213 1.52678 2.46446 2.46446C1.52678 3.40213 1 4.6739 1 5.99997C1 7.32605 1.52678 8.59781 2.46446 9.53548C3.40213 10.4732 4.6739 10.9999 5.99997 10.9999C7.32605 10.9999 8.59781 10.4732 9.53548 9.53548Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
      center center / 1.4rem 1.4rem no-repeat;
  }
}
