.lnb {
  background-color: var(--bg-color);
}
.folding-list {
  > li {
    padding: 1.6rem 0;
    &.open {
      padding-bottom: 1.6rem;
    }
    &:first-child {
      margin: 3.2rem 0 1.6rem;
      padding: 3.2rem 0 3.2rem;
      border-top: 1px solid var(--line-color02);
      border-bottom: 1px solid var(--line-color02);
      li {
        padding: 0.4rem 3rem;
        font-size: 1.3rem;
        line-height: 2rem;
        &:first-child {
          margin-top: 0.8rem;
        }
        &.menu-empty {
          p {
            margin-bottom: 0.4rem;
            color: #999;
          }
          a {
            color: var(--primary-color2);
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.folding-btn {
  position: relative;
  display: block;
  color: #222;
  font-size: 1.5rem;
  font-weight: 700;
  background-position: center left;
  background-repeat: no-repeat;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
    transform: translateY(-50%);
    background: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 9L12 15L6 9' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
      center center / 100% no-repeat;
  }
  i {
    display: inline-block;
    vertical-align: middle;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.6rem;
  }
  .my-menu {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.477 2 2 6.477 2 12C2 17.523 6.477 22 12 22C17.523 22 22 17.523 22 12C22 6.477 17.523 2 12 2Z' stroke='%2342444E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.271 18.346C4.271 18.346 6.5 15.5 12 15.5C17.5 15.5 19.73 18.346 19.73 18.346M12 12C12.7956 12 13.5587 11.6839 14.1213 11.1213C14.6839 10.5587 15 9.79565 15 9C15 8.20435 14.6839 7.44129 14.1213 6.87868C13.5587 6.31607 12.7956 6 12 6C11.2043 6 10.4413 6.31607 9.87868 6.87868C9.31607 7.44129 9 8.20435 9 9C9 9.79565 9.31607 10.5587 9.87868 11.1213C10.4413 11.6839 11.2043 12 12 12Z' stroke='%2342444E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .manage-collect {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 14.5L19.26 9.696C19.1875 9.2241 18.9485 8.79373 18.5863 8.48268C18.224 8.17163 17.7625 8.00042 17.285 8H6.71605C6.23826 7.99994 5.77623 8.17094 5.4136 8.48203C5.05096 8.79312 4.81167 9.22376 4.73905 9.696L3.35405 18.696C3.31022 18.981 3.32854 19.2721 3.40775 19.5494C3.48697 19.8267 3.62521 20.0836 3.813 20.3024C4.00078 20.5212 4.23367 20.6969 4.49569 20.8173C4.75772 20.9377 5.04268 21 5.33105 21H12' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 19L17 22L22 17M14 5C14 4.46957 13.7893 3.96086 13.4142 3.58579C13.0391 3.21071 12.5304 3 12 3C11.4696 3 10.9609 3.21071 10.5858 3.58579C10.2107 3.96086 10 4.46957 10 5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .manage-product {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.25 7.77778V17.2222C20.25 18.0366 19.9414 18.8108 19.4026 19.3761C18.8651 19.9402 18.1439 20.25 17.4 20.25H6.6C5.85612 20.25 5.13494 19.9402 4.59737 19.3761C4.05862 18.8108 3.75 18.0366 3.75 17.2222V7.77778C3.75 6.96341 4.05862 6.18924 4.59737 5.62389C5.13494 5.05976 5.85612 4.75 6.6 4.75H17.4C18.1439 4.75 18.8651 5.05976 19.4026 5.62389C19.9414 6.18924 20.25 6.96341 20.25 7.77778Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cmask id='path-2-inside-1_471_1771' fill='white'%3E%3Cpath d='M10 4H14V9C14 9.55228 13.5523 10 13 10H11C10.4477 10 10 9.55228 10 9V4Z'/%3E%3C/mask%3E%3Cpath d='M10 4H14V9C14 9.55228 13.5523 10 13 10H11C10.4477 10 10 9.55228 10 9V4Z' stroke='black' stroke-width='3' mask='url(%23path-2-inside-1_471_1771)'/%3E%3C/svg%3E%0A");
  }
  .policy {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10H16M8 18H16M8 14H12M4 21.4V2.6C4 2.44087 4.06321 2.28826 4.17574 2.17574C4.28826 2.06321 4.44087 2 4.6 2H16.252C16.4111 2.00014 16.5636 2.06345 16.676 2.176L19.824 5.324C19.88 5.3799 19.9243 5.44632 19.9545 5.51943C19.9847 5.59254 20.0002 5.6709 20 5.75V21.4C20 21.4788 19.9845 21.5568 19.9543 21.6296C19.9242 21.7024 19.88 21.7685 19.8243 21.8243C19.7685 21.88 19.7024 21.9242 19.6296 21.9543C19.5568 21.9845 19.4788 22 19.4 22H4.6C4.52121 22 4.44319 21.9845 4.37039 21.9543C4.29759 21.9242 4.23145 21.88 4.17574 21.8243C4.12002 21.7685 4.07583 21.7024 4.04567 21.6296C4.01552 21.5568 4 21.4788 4 21.4Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V5.4C16 5.55913 16.0632 5.71174 16.1757 5.82426C16.2883 5.93679 16.4409 6 16.6 6H20' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .manage-claim {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2714 10L13.6254 3.34773C12.8293 2.20796 11.142 2.20796 10.346 3.34773L5.69995 10M8 13L8.74095 17.03M16.1 13L15.359 17.03M12.1833 13V16.9943M4.02245 10C3.71578 10 3.42845 10.1358 3.23341 10.373C3.03837 10.6097 2.96009 10.9182 3.01938 11.2187L4.44173 18.4838C4.68502 19.7281 5.78164 20.6313 7.05004 20.6313H16.9506C18.219 20.6313 19.3156 19.7281 19.5589 18.4838L20.9805 11.2187L20.9813 11.2179C21.0393 10.917 20.9611 10.6085 20.7664 10.3722C20.5714 10.1358 20.2836 10 19.9774 10H4.02245Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .manage-answer {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10H16M8 14H12M12 22C17.523 22 22 17.523 22 12C22 6.477 17.523 2 12 2C6.477 2 2 6.477 2 12C2 13.821 2.487 15.53 3.338 17L2.5 21.5L7 20.662C8.51954 21.5411 10.2445 22.0027 12 22Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .manage-st {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 14.25V16.5M10.5 12V16.5M13.5 9.75V16.5M16.5 7.5V16.5M6 20.25H18C18.5967 20.25 19.169 20.0129 19.591 19.591C20.0129 19.169 20.25 18.5967 20.25 18V6C20.25 5.40326 20.0129 4.83097 19.591 4.40901C19.169 3.98705 18.5967 3.75 18 3.75H6C5.40326 3.75 4.83097 3.98705 4.40901 4.40901C3.98705 4.83097 3.75 5.40326 3.75 6V18C3.75 18.5967 3.98705 19.169 4.40901 19.591C4.83097 20.0129 5.40326 20.25 6 20.25Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .setting {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.343 3.94C10.433 3.398 10.903 3 11.453 3H12.546C13.096 3 13.566 3.398 13.656 3.94L13.805 4.834C13.875 5.258 14.189 5.598 14.585 5.764C14.983 5.928 15.44 5.906 15.79 5.656L16.527 5.129C16.7438 4.97405 17.0085 4.90107 17.274 4.92305C17.5396 4.94502 17.7887 5.06053 17.977 5.249L18.75 6.023C19.14 6.412 19.19 7.025 18.87 7.473L18.343 8.21C18.093 8.56 18.071 9.016 18.236 9.414C18.401 9.811 18.741 10.124 19.166 10.194L20.059 10.344C20.602 10.434 20.999 10.904 20.999 11.453V12.547C20.999 13.097 20.602 13.567 20.059 13.657L19.166 13.806C18.741 13.876 18.401 14.189 18.236 14.586C18.071 14.984 18.093 15.44 18.343 15.79L18.87 16.528C19.19 16.975 19.139 17.588 18.75 17.978L17.976 18.751C17.7877 18.9392 17.5388 19.0546 17.2735 19.0765C17.0082 19.0985 16.7437 19.0257 16.527 18.871L15.789 18.344C15.439 18.094 14.983 18.072 14.586 18.237C14.189 18.402 13.876 18.742 13.805 19.166L13.656 20.06C13.566 20.602 13.096 21 12.546 21H11.452C10.902 21 10.433 20.602 10.342 20.06L10.194 19.166C10.123 18.742 9.81002 18.402 9.41302 18.236C9.01502 18.072 8.55902 18.094 8.20902 18.344L7.47102 18.871C7.02402 19.191 6.41102 19.14 6.02102 18.751L5.24802 17.977C5.05955 17.7887 4.94405 17.5395 4.92207 17.274C4.90009 17.0085 4.97308 16.7438 5.12802 16.527L5.65502 15.79C5.90502 15.44 5.92802 14.984 5.76302 14.586C5.59802 14.189 5.25802 13.876 4.83302 13.806L3.93902 13.656C3.39702 13.566 2.99902 13.096 2.99902 12.547V11.453C2.99902 10.903 3.39702 10.433 3.93902 10.343L4.83302 10.194C5.25702 10.124 5.59802 9.811 5.76302 9.414C5.92802 9.016 5.90602 8.56 5.65602 8.21L5.12902 7.472C4.97408 7.25524 4.90109 6.99053 4.92307 6.72499C4.94505 6.45945 5.06055 6.21034 5.24902 6.022L6.02202 5.249C6.21036 5.06053 6.45948 4.94502 6.72501 4.92305C6.99055 4.90107 7.25527 4.97405 7.47202 5.129L8.20902 5.656C8.55902 5.906 9.01602 5.928 9.41302 5.763C9.81002 5.598 10.123 5.258 10.193 4.834L10.343 3.94Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 12C15 12.7956 14.6839 13.5587 14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15C11.2044 15 10.4413 14.6839 9.87868 14.1213C9.31607 13.5587 9 12.7956 9 12C9 11.2044 9.31607 10.4413 9.87868 9.87868C10.4413 9.31607 11.2044 9 12 9C12.7956 9 13.5587 9.31607 14.1213 9.87868C14.6839 10.4413 15 11.2044 15 12Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}
.open .folding-btn {
  color: var(--primary-color2);
  .my-menu {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.477 2 2 6.477 2 12C2 17.523 6.477 22 12 22C17.523 22 22 17.523 22 12C22 6.477 17.523 2 12 2Z' stroke='%23055DB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.271 18.346C4.271 18.346 6.5 15.5 12 15.5C17.5 15.5 19.73 18.346 19.73 18.346M12 12C12.7956 12 13.5587 11.6839 14.1213 11.1213C14.6839 10.5587 15 9.79565 15 9C15 8.20435 14.6839 7.44129 14.1213 6.87868C13.5587 6.31607 12.7956 6 12 6C11.2043 6 10.4413 6.31607 9.87868 6.87868C9.31607 7.44129 9 8.20435 9 9C9 9.79565 9.31607 10.5587 9.87868 11.1213C10.4413 11.6839 11.2043 12 12 12Z' stroke='%23055DB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .manage-collect {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 14.5L19.26 9.696C19.1875 9.2241 18.9485 8.79373 18.5863 8.48268C18.224 8.17163 17.7625 8.00042 17.285 8H6.71605C6.23826 7.99994 5.77623 8.17094 5.4136 8.48203C5.05096 8.79312 4.81167 9.22376 4.73905 9.696L3.35405 18.696C3.31022 18.981 3.32854 19.2721 3.40775 19.5494C3.48697 19.8267 3.62521 20.0836 3.813 20.3024C4.00078 20.5212 4.23367 20.6969 4.49569 20.8173C4.75772 20.9377 5.04268 21 5.33105 21H12' stroke='%23055DB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 19L17 22L22 17M14 5C14 4.46957 13.7893 3.96086 13.4142 3.58579C13.0391 3.21071 12.5304 3 12 3C11.4696 3 10.9609 3.21071 10.5858 3.58579C10.2107 3.96086 10 4.46957 10 5' stroke='%23055DB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .manage-product {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.25 7.77778V17.2222C20.25 18.0366 19.9414 18.8108 19.4026 19.3761C18.8651 19.9402 18.1439 20.25 17.4 20.25H6.6C5.85612 20.25 5.13494 19.9402 4.59737 19.3761C4.05862 18.8108 3.75 18.0366 3.75 17.2222V7.77778C3.75 6.96341 4.05862 6.18924 4.59737 5.62389C5.13494 5.05976 5.85612 4.75 6.6 4.75H17.4C18.1439 4.75 18.8651 5.05976 19.4026 5.62389C19.9414 6.18924 20.25 6.96341 20.25 7.77778Z' stroke='%23055DB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cmask id='path-2-inside-1_471_1771' fill='white'%3E%3Cpath d='M10 4H14V9C14 9.55228 13.5523 10 13 10H11C10.4477 10 10 9.55228 10 9V4Z'/%3E%3C/mask%3E%3Cpath d='M10 4H14V9C14 9.55228 13.5523 10 13 10H11C10.4477 10 10 9.55228 10 9V4Z' stroke='%23055DB5' stroke-width='3' mask='url(%23path-2-inside-1_471_1771)'/%3E%3C/svg%3E%0A");
  }
  .policy {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10H16M8 18H16M8 14H12M4 21.4V2.6C4 2.44087 4.06321 2.28826 4.17574 2.17574C4.28826 2.06321 4.44087 2 4.6 2H16.252C16.4111 2.00014 16.5636 2.06345 16.676 2.176L19.824 5.324C19.88 5.3799 19.9243 5.44632 19.9545 5.51943C19.9847 5.59254 20.0002 5.6709 20 5.75V21.4C20 21.4788 19.9845 21.5568 19.9543 21.6296C19.9242 21.7024 19.88 21.7685 19.8243 21.8243C19.7685 21.88 19.7024 21.9242 19.6296 21.9543C19.5568 21.9845 19.4788 22 19.4 22H4.6C4.52121 22 4.44319 21.9845 4.37039 21.9543C4.29759 21.9242 4.23145 21.88 4.17574 21.8243C4.12002 21.7685 4.07583 21.7024 4.04567 21.6296C4.01552 21.5568 4 21.4788 4 21.4Z' stroke='%23055DB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V5.4C16 5.55913 16.0632 5.71174 16.1757 5.82426C16.2883 5.93679 16.4409 6 16.6 6H20' stroke='%23055DB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .manage-claim {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2714 10L13.6254 3.34773C12.8293 2.20796 11.142 2.20796 10.346 3.34773L5.69995 10M8 13L8.74095 17.03M16.1 13L15.359 17.03M12.1833 13V16.9943M4.02245 10C3.71578 10 3.42845 10.1358 3.23341 10.373C3.03837 10.6097 2.96009 10.9182 3.01938 11.2187L4.44173 18.4838C4.68502 19.7281 5.78164 20.6313 7.05004 20.6313H16.9506C18.219 20.6313 19.3156 19.7281 19.5589 18.4838L20.9805 11.2187L20.9813 11.2179C21.0393 10.917 20.9611 10.6085 20.7664 10.3722C20.5714 10.1358 20.2836 10 19.9774 10H4.02245Z' stroke='%23055DB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .manage-answer {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10H16M8 14H12M12 22C17.523 22 22 17.523 22 12C22 6.477 17.523 2 12 2C6.477 2 2 6.477 2 12C2 13.821 2.487 15.53 3.338 17L2.5 21.5L7 20.662C8.51954 21.5411 10.2445 22.0027 12 22Z' stroke='%23055DB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .manage-st {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 14.25V16.5M10.5 12V16.5M13.5 9.75V16.5M16.5 7.5V16.5M6 20.25H18C18.5967 20.25 19.169 20.0129 19.591 19.591C20.0129 19.169 20.25 18.5967 20.25 18V6C20.25 5.40326 20.0129 4.83097 19.591 4.40901C19.169 3.98705 18.5967 3.75 18 3.75H6C5.40326 3.75 4.83097 3.98705 4.40901 4.40901C3.98705 4.83097 3.75 5.40326 3.75 6V18C3.75 18.5967 3.98705 19.169 4.40901 19.591C4.83097 20.0129 5.40326 20.25 6 20.25Z' stroke='%23055DB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .setting {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.343 3.94C10.433 3.398 10.903 3 11.453 3H12.546C13.096 3 13.566 3.398 13.656 3.94L13.805 4.834C13.875 5.258 14.189 5.598 14.585 5.764C14.983 5.928 15.44 5.906 15.79 5.656L16.527 5.129C16.7438 4.97405 17.0085 4.90107 17.274 4.92305C17.5396 4.94502 17.7887 5.06053 17.977 5.249L18.75 6.023C19.14 6.412 19.19 7.025 18.87 7.473L18.343 8.21C18.093 8.56 18.071 9.016 18.236 9.414C18.401 9.811 18.741 10.124 19.166 10.194L20.059 10.344C20.602 10.434 20.999 10.904 20.999 11.453V12.547C20.999 13.097 20.602 13.567 20.059 13.657L19.166 13.806C18.741 13.876 18.401 14.189 18.236 14.586C18.071 14.984 18.093 15.44 18.343 15.79L18.87 16.528C19.19 16.975 19.139 17.588 18.75 17.978L17.976 18.751C17.7877 18.9392 17.5388 19.0546 17.2735 19.0765C17.0082 19.0985 16.7437 19.0257 16.527 18.871L15.789 18.344C15.439 18.094 14.983 18.072 14.586 18.237C14.189 18.402 13.876 18.742 13.805 19.166L13.656 20.06C13.566 20.602 13.096 21 12.546 21H11.452C10.902 21 10.433 20.602 10.342 20.06L10.194 19.166C10.123 18.742 9.81002 18.402 9.41302 18.236C9.01502 18.072 8.55902 18.094 8.20902 18.344L7.47102 18.871C7.02402 19.191 6.41102 19.14 6.02102 18.751L5.24802 17.977C5.05955 17.7887 4.94405 17.5395 4.92207 17.274C4.90009 17.0085 4.97308 16.7438 5.12802 16.527L5.65502 15.79C5.90502 15.44 5.92802 14.984 5.76302 14.586C5.59802 14.189 5.25802 13.876 4.83302 13.806L3.93902 13.656C3.39702 13.566 2.99902 13.096 2.99902 12.547V11.453C2.99902 10.903 3.39702 10.433 3.93902 10.343L4.83302 10.194C5.25702 10.124 5.59802 9.811 5.76302 9.414C5.92802 9.016 5.90602 8.56 5.65602 8.21L5.12902 7.472C4.97408 7.25524 4.90109 6.99053 4.92307 6.72499C4.94505 6.45945 5.06055 6.21034 5.24902 6.022L6.02202 5.249C6.21036 5.06053 6.45948 4.94502 6.72501 4.92305C6.99055 4.90107 7.25527 4.97405 7.47202 5.129L8.20902 5.656C8.55902 5.906 9.01602 5.928 9.41302 5.763C9.81002 5.598 10.123 5.258 10.193 4.834L10.343 3.94Z' stroke='%23055DB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 12C15 12.7956 14.6839 13.5587 14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15C11.2044 15 10.4413 14.6839 9.87868 14.1213C9.31607 13.5587 9 12.7956 9 12C9 11.2044 9.31607 10.4413 9.87868 9.87868C10.4413 9.31607 11.2044 9 12 9C12.7956 9 13.5587 9.31607 14.1213 9.87868C14.6839 10.4413 15 11.2044 15 12Z' stroke='%23055DB5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}
.open .folding-btn:after {
  transform: translateY(-50%) rotate(-180deg);
}
.lnb-inner {
  position: relative;
  width: 24rem;
  height: 100%;
  margin: 0 auto;
  padding: 3.2rem;
  background-color: var(--white-color);
  border-right: 1px solid var(--line-color02);
  transition: width 0.4s;
  .logo {
    width: 8rem;
    height: 8rem;
    margin: 0 auto 0.9rem;
    background: url(../images/common/mongmong.png) center / 100% no-repeat;
    font-size: 0;
  }
  .logo-name {
    text-align: center;
    font-weight: 700;
  }
  .close-lnb {
    position: absolute;
    top: 0;
    left: calc(100% + 1px);
    width: 5.2rem;
    height: 4.8rem;
    font-size: 0;
    background: #e9eff9
      url("data:image/svg+xml,%0A%3Csvg width='52' height='20' viewBox='0 0 52 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 15L21 10L26 5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31 15L26 10L31 5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
      center center / 100% no-repeat;
  }
}
.lnb-inner {
  .folded {
    display: none;
  }
}
.lnb-inner.fold {
  width: 8rem;
  padding: 3.2rem 1.6rem;
  .logo {
    width: 4rem;
    height: 4rem;
  }
  .logo-name {
    display: none;
  }
  .folding-list {
    display: none;
  }
  .folded {
    display: block;
    > li:first-child {
      padding: 2.4rem 0;
      .folding-panel {
        li {
          padding: 0.4rem 1.6rem;
        }
      }
    }
    > li {
      position: relative;
      margin-bottom: 2.6rem;
      padding: 0;
      &.open {
        margin-bottom: 1.6rem;
      }
    }
    .folding-panel {
      position: absolute;
      z-index: 100;
      top: 0;
      left: calc(100% + 1.2rem);
      width: 18.6rem;
      padding: 1.2rem;
      background-color: var(--white-color);
      box-shadow: 12px 12px 20px -10px rgba(0, 0, 0, 0.08), 0px -7px 10px -6px rgba(0, 0, 0, 0.04);
      border-radius: 1.2rem;
      border: 1px solid var(--line-color02);
      li {
        padding: 1rem 0.8rem 1rem 1.6rem;
        text-align: left;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .open .folding-btn {
      margin-left: -0.4rem;
      margin-right: -0.4rem;
      padding: 1.6rem 0 1.4rem;
      color: var(--white-color);
      background-color: var(--primary-color2);
      border-radius: 1.2rem;
      box-shadow: 2px 4px 6px 0px #00000029;
      .my-menu {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.477 2 2 6.477 2 12C2 17.523 6.477 22 12 22C17.523 22 22 17.523 22 12C22 6.477 17.523 2 12 2Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.271 18.346C4.271 18.346 6.5 15.5 12 15.5C17.5 15.5 19.73 18.346 19.73 18.346M12 12C12.7956 12 13.5587 11.6839 14.1213 11.1213C14.6839 10.5587 15 9.79565 15 9C15 8.20435 14.6839 7.44129 14.1213 6.87868C13.5587 6.31607 12.7956 6 12 6C11.2043 6 10.4413 6.31607 9.87868 6.87868C9.31607 7.44129 9 8.20435 9 9C9 9.79565 9.31607 10.5587 9.87868 11.1213C10.4413 11.6839 11.2043 12 12 12Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      .manage-collect {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 14.5L19.26 9.696C19.1875 9.2241 18.9485 8.79373 18.5863 8.48268C18.224 8.17163 17.7625 8.00042 17.285 8H6.71605C6.23826 7.99994 5.77623 8.17094 5.4136 8.48203C5.05096 8.79312 4.81167 9.22376 4.73905 9.696L3.35405 18.696C3.31022 18.981 3.32854 19.2721 3.40775 19.5494C3.48697 19.8267 3.62521 20.0836 3.813 20.3024C4.00078 20.5212 4.23367 20.6969 4.49569 20.8173C4.75772 20.9377 5.04268 21 5.33105 21H12' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 19L17 22L22 17M14 5C14 4.46957 13.7893 3.96086 13.4142 3.58579C13.0391 3.21071 12.5304 3 12 3C11.4696 3 10.9609 3.21071 10.5858 3.58579C10.2107 3.96086 10 4.46957 10 5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      .manage-product {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.25 7.77778V17.2222C20.25 18.0366 19.9414 18.8108 19.4026 19.3761C18.8651 19.9402 18.1439 20.25 17.4 20.25H6.6C5.85612 20.25 5.13494 19.9402 4.59737 19.3761C4.05862 18.8108 3.75 18.0366 3.75 17.2222V7.77778C3.75 6.96341 4.05862 6.18924 4.59737 5.62389C5.13494 5.05976 5.85612 4.75 6.6 4.75H17.4C18.1439 4.75 18.8651 5.05976 19.4026 5.62389C19.9414 6.18924 20.25 6.96341 20.25 7.77778Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cmask id='path-2-inside-1_471_1771' fill='white'%3E%3Cpath d='M10 4H14V9C14 9.55228 13.5523 10 13 10H11C10.4477 10 10 9.55228 10 9V4Z'/%3E%3C/mask%3E%3Cpath d='M10 4H14V9C14 9.55228 13.5523 10 13 10H11C10.4477 10 10 9.55228 10 9V4Z' stroke='white' stroke-width='3' mask='url(%23path-2-inside-1_471_1771)'/%3E%3C/svg%3E%0A");
      }
      .policy {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10H16M8 18H16M8 14H12M4 21.4V2.6C4 2.44087 4.06321 2.28826 4.17574 2.17574C4.28826 2.06321 4.44087 2 4.6 2H16.252C16.4111 2.00014 16.5636 2.06345 16.676 2.176L19.824 5.324C19.88 5.3799 19.9243 5.44632 19.9545 5.51943C19.9847 5.59254 20.0002 5.6709 20 5.75V21.4C20 21.4788 19.9845 21.5568 19.9543 21.6296C19.9242 21.7024 19.88 21.7685 19.8243 21.8243C19.7685 21.88 19.7024 21.9242 19.6296 21.9543C19.5568 21.9845 19.4788 22 19.4 22H4.6C4.52121 22 4.44319 21.9845 4.37039 21.9543C4.29759 21.9242 4.23145 21.88 4.17574 21.8243C4.12002 21.7685 4.07583 21.7024 4.04567 21.6296C4.01552 21.5568 4 21.4788 4 21.4Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V5.4C16 5.55913 16.0632 5.71174 16.1757 5.82426C16.2883 5.93679 16.4409 6 16.6 6H20' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      .manage-claim {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2714 10L13.6254 3.34773C12.8293 2.20796 11.142 2.20796 10.346 3.34773L5.69995 10M8 13L8.74095 17.03M16.1 13L15.359 17.03M12.1833 13V16.9943M4.02245 10C3.71578 10 3.42845 10.1358 3.23341 10.373C3.03837 10.6097 2.96009 10.9182 3.01938 11.2187L4.44173 18.4838C4.68502 19.7281 5.78164 20.6313 7.05004 20.6313H16.9506C18.219 20.6313 19.3156 19.7281 19.5589 18.4838L20.9805 11.2187L20.9813 11.2179C21.0393 10.917 20.9611 10.6085 20.7664 10.3722C20.5714 10.1358 20.2836 10 19.9774 10H4.02245Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      .manage-answer {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10H16M8 14H12M12 22C17.523 22 22 17.523 22 12C22 6.477 17.523 2 12 2C6.477 2 2 6.477 2 12C2 13.821 2.487 15.53 3.338 17L2.5 21.5L7 20.662C8.51954 21.5411 10.2445 22.0027 12 22Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      .manage-st {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 14.25V16.5M10.5 12V16.5M13.5 9.75V16.5M16.5 7.5V16.5M6 20.25H18C18.5967 20.25 19.169 20.0129 19.591 19.591C20.0129 19.169 20.25 18.5967 20.25 18V6C20.25 5.40326 20.0129 4.83097 19.591 4.40901C19.169 3.98705 18.5967 3.75 18 3.75H6C5.40326 3.75 4.83097 3.98705 4.40901 4.40901C3.98705 4.83097 3.75 5.40326 3.75 6V18C3.75 18.5967 3.98705 19.169 4.40901 19.591C4.83097 20.0129 5.40326 20.25 6 20.25Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      .setting {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.343 3.94C10.433 3.398 10.903 3 11.453 3H12.546C13.096 3 13.566 3.398 13.656 3.94L13.805 4.834C13.875 5.258 14.189 5.598 14.585 5.764C14.983 5.928 15.44 5.906 15.79 5.656L16.527 5.129C16.7438 4.97405 17.0085 4.90107 17.274 4.92305C17.5396 4.94502 17.7887 5.06053 17.977 5.249L18.75 6.023C19.14 6.412 19.19 7.025 18.87 7.473L18.343 8.21C18.093 8.56 18.071 9.016 18.236 9.414C18.401 9.811 18.741 10.124 19.166 10.194L20.059 10.344C20.602 10.434 20.999 10.904 20.999 11.453V12.547C20.999 13.097 20.602 13.567 20.059 13.657L19.166 13.806C18.741 13.876 18.401 14.189 18.236 14.586C18.071 14.984 18.093 15.44 18.343 15.79L18.87 16.528C19.19 16.975 19.139 17.588 18.75 17.978L17.976 18.751C17.7877 18.9392 17.5388 19.0546 17.2735 19.0765C17.0082 19.0985 16.7437 19.0257 16.527 18.871L15.789 18.344C15.439 18.094 14.983 18.072 14.586 18.237C14.189 18.402 13.876 18.742 13.805 19.166L13.656 20.06C13.566 20.602 13.096 21 12.546 21H11.452C10.902 21 10.433 20.602 10.342 20.06L10.194 19.166C10.123 18.742 9.81002 18.402 9.41302 18.236C9.01502 18.072 8.55902 18.094 8.20902 18.344L7.47102 18.871C7.02402 19.191 6.41102 19.14 6.02102 18.751L5.24802 17.977C5.05955 17.7887 4.94405 17.5395 4.92207 17.274C4.90009 17.0085 4.97308 16.7438 5.12802 16.527L5.65502 15.79C5.90502 15.44 5.92802 14.984 5.76302 14.586C5.59802 14.189 5.25802 13.876 4.83302 13.806L3.93902 13.656C3.39702 13.566 2.99902 13.096 2.99902 12.547V11.453C2.99902 10.903 3.39702 10.433 3.93902 10.343L4.83302 10.194C5.25702 10.124 5.59802 9.811 5.76302 9.414C5.92802 9.016 5.90602 8.56 5.65602 8.21L5.12902 7.472C4.97408 7.25524 4.90109 6.99053 4.92307 6.72499C4.94505 6.45945 5.06055 6.21034 5.24902 6.022L6.02202 5.249C6.21036 5.06053 6.45948 4.94502 6.72501 4.92305C6.99055 4.90107 7.25527 4.97405 7.47202 5.129L8.20902 5.656C8.55902 5.906 9.01602 5.928 9.41302 5.763C9.81002 5.598 10.123 5.258 10.193 4.834L10.343 3.94Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 12C15 12.7956 14.6839 13.5587 14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15C11.2044 15 10.4413 14.6839 9.87868 14.1213C9.31607 13.5587 9 12.7956 9 12C9 11.2044 9.31607 10.4413 9.87868 9.87868C10.4413 9.31607 11.2044 9 12 9C12.7956 9 13.5587 9.31607 14.1213 9.87868C14.6839 10.4413 15 11.2044 15 12Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
    .flex {
      i {
        margin-right: 0;
        margin-bottom: 0.6rem;
      }
      flex-direction: column;
      align-items: center;
      font-size: 1.1rem;
      line-height: 1.6rem;
    }

    .folding-btn {
      font-size: 1.4rem;
      text-align: center;
      &:after {
        content: none;
      }
    }
  }

  .close-lnb {
    transform: rotate(180deg);
  }
}
.folding-panel li {
  position: relative;
  z-index: 1;
  padding: 1rem 3rem;
  cursor: pointer;
  color: var(--base-txt-color);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  &:first-child {
    margin-top: 1.6rem;
  }
  &:hover {
    font-weight: 600;
  }
  &:hover::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.4rem;
    background-color: #e9eff9;
  }
}
