<div>
  <h2 class="guide-tit">Mid</h2>
  <div class="form-guide-wrap">
    <div class="font-guide table no-line">
      <table>
        <colgroup>
          <col style="width: 12rem" />
          <col style="width: 9rem" />
          <col style="width: 9rem" />
          <col style="width: 9rem" />
          <col style="width: auto" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Default</th>
            <th scope="col">Hover</th>
            <th scope="col">Disable</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Blue</th>
            <td><button class="button bg-primary">Default</button></td>
            <td><button class="button bg-primary mouseover">Hover</button></td>
            <td><button class="button bg-primary" disabled>Disable</button></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">DarkGrey</th>
            <td><button class="button bg-dark">Default</button></td>
            <td><button class="button bg-dark mouseover">Hover</button></td>
            <td><button class="button bg-dark" disabled>Disable</button></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Line</th>
            <td><button class="button line">Default</button></td>
            <td><button class="button line mouseover">Hover</button></td>
            <td><button class="button line" disabled>Disable</button></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="mt-50">
  <h2 class="guide-tit">Small</h2>
  <div class="form-guide-wrap">
    <div class="font-guide table no-line">
      <table>
        <colgroup>
          <col style="width: 12rem" />
          <col style="width: 9rem" />
          <col style="width: 9rem" />
          <col style="width: 9rem" />
          <col style="width: 11rem" />
          <col style="width: 11rem" />
          <col style="width: auto" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Default</th>
            <th scope="col">Hover</th>
            <th scope="col">Disable</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Blue</th>
            <td><button class="button small bg-primary">Default</button></td>
            <td><button class="button small bg-primary mouseover">Hover</button></td>
            <td><button class="button small bg-primary" disabled>Disable</button></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">DarkGrey</th>
            <td><button class="button small bg-dark">Default</button></td>
            <td><button class="button small bg-dark mouseover">Hover</button></td>
            <td><button class="button small bg-dark" disabled>Disable</button></td>
            <td colspan="2">Icon type</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Line</th>
            <td><button class="button small line">Default</button></td>
            <td><button class="button small line mouseover">Hover</button></td>
            <td><button class="button small line" disabled>Disable</button></td>
            <td><button class="button small line download">Default</button></td>
            <td><button class="button small line download" disabled>Disable</button></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Line_Blue</th>
            <td><button class="button small blue-line">Default</button></td>
            <td><button class="button small blue-line mouseover">Hover</button></td>
            <td><button class="button small blue-line" disabled>Disable</button></td>
            <td><button class="button small blue-line download">Default</button></td>
            <td><button class="button small blue-line download" disabled>Disable</button></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Round-on</th>
            <td><button class="button small round on">1개월</button></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Round-off</th>
            <td><button class="button small round off">1개월</button></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="mt-50">
  <h2 class="guide-tit">Mini</h2>
  <div class="form-guide-wrap">
    <div class="font-guide table no-line">
      <table>
        <colgroup>
          <col style="width: 12rem" />
          <col style="width: 7rem" />
          <col style="width: 7rem" />
          <col style="width: 7rem" />
          <col style="width: 8rem" />
          <col style="width: 8rem" />
          <col style="width: 8rem" />
          <col style="width: auto" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Default</th>
            <th scope="col">Hover</th>
            <th scope="col">Disable</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Color</th>
            <td><button class="button mini bg-dark">Default</button></td>
            <td><button class="button mini bg-dark mouseover">Hover</button></td>
            <td><button class="button mini bg-dark" disabled>Disable</button></td>
            <td></td>
            <td></td>
            <td>ty2</td>
          </tr>
          <tr>
            <th scope="row">Line</th>
            <td><button class="button mini line">Default</button></td>
            <td><button class="button mini line mouseover">Hover</button></td>
            <td><button class="button mini line" disabled>Disable</button></td>
            <td><button class="button mini line download">Default</button></td>
            <td><button class="button mini line download" disabled>Disable</button></td>
            <td><button class="button mini line ty2">Default</button></td>
          </tr>
          <tr>
            <th scope="row">Round-on</th>
            <td><button class="button mini round on">1개월</button></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Round-off</th>
            <td><button class="button mini round off">1개월</button></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
