<div class="footer-space">
  <div class="footer-contents">
    <div class="flex space-between">
      <div class="left">
        <div class="flex align-center">
          <h3>상담안내</h3>
          <button class="button btn-chat mini ml-8">채팅상담</button>
        </div>
        <p>평일 오전10시 ~ 오후5시(토/일/공휴일 제외)</p>
      </div>
      <div class="right">
        <div class="t-right policy-info">
          <a href="#none" title="이용약관 페이지로 이동">이용약관</a>
          <a href="#none" title="개인정보처리방침 페이지로 이동" class="privacy">개인정보처리방침</a>
          <a href="#none" title="지적재산신고 페이지로 이동">지적재산신고</a>
        </div>
        <div class="t-right company-info">
          <div>
            <dl>
              <dt>회사명</dt>
              <dd>(주)마켓위즈</dd>
            </dl>
            <dl>
              <dt>대표이사</dt>
              <dd>정상원</dd>
            </dl>
            <dl>
              <dt>본사주소</dt>
              <dd>서울특별시 마포구 토정로 260</dd>
            </dl>
            <dl>
              <dt>사업자등록번호</dt>
              <dd>111-22-12345</dd>
            </dl>
          </div>
          <div>
            <dl>
              <dt>통신판매업신고</dt>
              <dd>2023-서울서울-12345 <button class="button check">사업자정보 확인</button></dd>
            </dl>
            <dl>
              <dt>대표이사</dt>
              <dd>정상원</dd>
            </dl>
            <dl>
              <dt>개인정보책임자</dt>
              <dd>(주)마켓위즈</dd>
            </dl>
            <dl>
              <dt>이용문의</dt>
              <dd>help@marketwiz.com</dd>
            </dl>
          </div>
          <div class="flex align-center justify-end">
            <span class="mr-4">고객님의 안전거래를 위해 에스크로 서비스에 가입되어 있습니다.</span>
            <button class="button check">서비스 가입사실 확인</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="bottom-contents">
      <h2 class="logo">
        <a href="#" title="홈페이지 바로가기">logo</a>
      </h2>
      <p>All Rights Reserved. Marketwiz All Rights</p>
    </div>
  </div>
</div>
