<div class="header-space fo">
  <div class="head-left">
    <h1 class="logo">
      <a href="#" title="홈페이지 바로가기">logo</a>
    </h1>
  </div>
  <div class="head-center">
    <ul>
      <li><a href="#anchor1" title="마켓위즈 소개 페이지로 이동">마켓위즈소개</a></li>
      <li><a href="#anchor2" title="마켓위즈 서비스 특장점 페이지로 이동">서비스 특장점</a></li>
      <li><a href="#anchor3" title="마켓위즈 요금안내 페이지로 이동">요금안내</a></li>
      <li><a href="#anchor4" title="마켓위즈 고객센터 페이지로 이동">고객센터</a></li>
    </ul>
  </div>
  <div class="head-right">
    <a href="#none" class="log-in">로그인</a>
    <a href="#none" class="join-us">회원가입</a>
  </div>
</div>
