<div class="header-space">
  <div class="head-left">
    <h1 class="logo">
      <a href="#" title="홈페이지 바로가기">logo</a>
    </h1>
    <div class="select-box">
      <ul>
        <li class="init">선택항목</li>
        <li data-value="value1">Hover</li>
        <li data-value="value2">Selected</li>
        <li data-value="value3">Default</li>
        <li data-value="value4">Disabled</li>
      </ul>
    </div>
  </div>
  <div class="flex">
    <div class="head-right">
      <a href="#none" class="setting user">정보설정</a>
      <a href="#none" class="logout user">로그아웃</a>
      <a href="#" class="kakao user-alert" title="카카오톡 문의 바로가기">
        <!-- <span class="count"></span> -->
      </a>
      <a href="#" class="notify user-alert">
        <span class="count">24</span>
      </a>
      <a href="#" title="노션 사용자가이드 페이지로 이동" class="user-guide">사용자가이드</a>
    </div>
    <div class="primary-bg">
      <div class="select-box">
        <ul>
          <li class="init">선택하세요</li>
          <li data-value="value1">Hover</li>
          <li data-value="value2">Selected</li>
          <li data-value="value3">Default</li>
          <li data-value="value4">Disabled</li>
        </ul>
      </div>
      <div class="input">
        <input type="text" placeholder="검색어를 입력하세요" />
      </div>
    </div>
  </div>
</div>
