<div class="lnb-inner">
  <div class="logo">로고</div>
  <button class="close-lnb">닫기</button>

  <ul class="folding-list ui-folding">
    <li>
      <div class="folding-head">
        <a href="#" class="folding-btn"
          ><div>나의메뉴<span>(00)</span></div></a
        >
      </div>
      <div class="folding-panel">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#" class="folding-btn"><div>상품수집관리</div></a>
      </div>
      <div class="folding-panel">
        <ul>
          <li data-name="collect-site-product">사이트 상품수집</li>
          <li data-name="collect-my-product">내 스토어 상품수집</li>
          <li data-name="waiting-product">저장대기상품</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#" class="folding-btn"><div>상품관리</div></a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#" class="folding-btn"><div>정책생성/적용관리</div></a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#" class="folding-btn"><div>주문/클레임관리</div></a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#" class="folding-btn"><div>문의관리</div></a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#" class="folding-btn"><div>통계관리</div></a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#" class="folding-btn"><div>환경설정</div></a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </li>
  </ul>
</div>
