<!-- lnb 메뉴 펼친 화면 -->
<div class="lnb-inner">
  <div class="logo">
    로고
    <img src="../../static/images/common/mongmong.png" alt="" />
  </div>
  <p class="logo-name">(주)몽몽마켓</p>
  <button class="close-lnb">닫기</button>

  <ul class="folding-list">
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="my-menu"></i>나의메뉴<span>(0)</span></a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>기본정책관리</li>
          <li>템플릿관리</li>
          <li>정책성관리</li>
          <!-- 나의 메뉴 미 등록 시 출력 -->
          <li class="menu-empty">
            <p>나의 메뉴가 없습니다</p>
            <a href="#none">나의 메뉴 등록하는 법</a>
          </li>
          <!-- // 나의 메뉴 미 등록 시 출력 -->
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="manage-collect"></i>상품수집관리</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li class="has-depth">
            <a href="../SO/S_04_0001.html" class="lnb-menu">사이트 상품수집</a>
            <i class="depth-open"></i>
            <ul>
              <li>기본정책관리</li>
              <li>템플릿관리</li>
            </ul>
          </li>
          <li><a href="../SO/S_04_0008.html" class="lnb-menu">내 스토어 상품수집</a></li>
          <li><a href="../SO/S_04_0005.html" class="lnb-menu">저장대기상품</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="manage-product"></i>상품관리</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li><a href="#none" class="lnb-menu">기본상품관리</a></li>
          <li class="has-depth">
            <a href="#none" class="lnb-menu">마켓상품관리</a>
            <i class="depth-open"></i>
            <ul>
              <li><a href="#none" class="lnb-menu">상품업데이트/마켓전송</a></li>
              <li><a href="#none" class="lnb-menu">마켓상품삭제/품절</a></li>
              <li><a href="#none" class="lnb-menu">상품정보번역/복원</a></li>
              <li><a href="#none" class="lnb-menu">상품이미지번역/복원</a></li>
              <li><a href="#none" class="lnb-menu">옵션자동넘버링</a></li>
              <li><a href="#none" class="lnb-menu">단일상품저장</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="policy"></i>정책생성&#183;적용관리</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="../SO/S_07_0001.html" class="folding-btn lnb-menu"><i class="manage-claim"></i>주문&#183;클레임관리</a>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="manage-answer"></i>문의관리</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li><a href="../SO/S_08_0001.html" class="lnb-menu">1:1 문의 관리</a></li>
          <li>쪽지함 관리</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="manage-st"></i>통계관리</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="setting"></i>환경설정</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li class="has-depth">
            <a href="#none" class="lnb-menu">서비스/<br />사업자정보 관리</a>
            <i class="depth-open"></i>
            <ul>
              <li>
                <a href="../SO/S_10_0001.html" class="lnb-menu">사업자 정보</a>
              </li>
              <li><a href="../SO/S_10_0004.html" class="lnb-menu">서비스 추가/변경</a></li>
              <li><a href="../SO/S_10_0010.html" class="lnb-menu">API 연동키 설정</a></li>
              <li>서비스 이용문의</li>
            </ul>
          </li>
          <li><a href="../SO/S_10_0012.html" class="lnb-menu">메뉴권한 관리</a></li>
          <li><a href="../SO/S_10_0014.html" class="lnb-menu">배송대행지 관리</a></li>
          <li>3</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="my-menu ty2"></i>공통가이드</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li><a href="../SO/S_guide.html" class="lnb-menu">폰트 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">색상 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">폼 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">버튼 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">lnb 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">아이콘 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">테이블 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">팝업 가이드</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<!-- // lnb 메뉴 펼친 화면 -->

<!-- lnb 메뉴 축소 화면 -->
<div class="lnb-inner fold" style="display: none">
  <div class="logo">로고</div>
  <p class="logo-name">(주)몽몽마켓</p>
  <button class="close-lnb">닫기</button>

  <ul class="folding-list folded">
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="my-menu"></i>나의메뉴</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>기본정책관리</li>
          <li>템플릿관리</li>
          <li>정책성관리</li>
          <!-- 나의 메뉴 미 등록 시 출력 -->
          <li class="menu-empty">
            <p>나의 메뉴가 없습니다</p>
            <a href="#none">나의 메뉴 등록하는 법</a>
          </li>
          <!-- // 나의 메뉴 미 등록 시 출력 -->
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="manage-collect"></i>상품수집</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li class="has-depth">
            <a href="../SO/S_04_0001.html" class="lnb-menu">사이트 상품수집</a>
            <i class="depth-open"></i>
            <ul>
              <li>기본정책관리</li>
              <li>템플릿관리</li>
            </ul>
          </li>
          <li><a href="../SO/S_04_0008.html" class="lnb-menu">내 스토어 상품수집</a></li>
          <li><a href="../SO/S_04_0005.html" class="lnb-menu">저장대기상품</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="manage-product"></i>상품관리</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li><a href="#none" class="lnb-menu">기본상품관리</a></li>
          <li class="has-depth">
            <a href="#none" class="lnb-menu">마켓상품관리</a>
            <i class="depth-open"></i>
            <ul>
              <li><a href="#none" class="lnb-menu">상품업데이트/마켓전송</a></li>
              <li><a href="#none" class="lnb-menu">마켓상품삭제/품절</a></li>
              <li><a href="#none" class="lnb-menu">상품정보번역/복원</a></li>
              <li><a href="#none" class="lnb-menu">상품이미지번역/복원</a></li>
              <li><a href="#none" class="lnb-menu">옵션자동넘버링</a></li>
              <li><a href="#none" class="lnb-menu">단일상품저장</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="policy"></i>정책&middot;적용</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="../SO/S_07_0001.html" class="folding-btn lnb-menu"><i class="manage-claim"></i>주문&middot;관리</a>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="manage-answer"></i>문의</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li><a href="../SO/S_08_0001.html" class="lnb-menu">1:1 문의 관리</a></li>
          <li>쪽지함 관리</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="manage-st"></i>통계</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="setting"></i>환경설정</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </li>
    <!-- 가이드 메뉴, 삭제 예정 -->
    <li>
      <div class="folding-head">
        <a href="#none" class="folding-btn"><i class="my-menu ty2"></i>공통가이드</a>
      </div>
      <div class="folding-panel">
        <ul>
          <li><a href="../SO/S_guide.html" class="lnb-menu">폰트 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">색상 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">폼 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">버튼 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">lnb 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">아이콘 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">테이블 가이드</a></li>
          <li><a href="../SO/S_guide.html" class="lnb-menu">팝업 가이드</a></li>
        </ul>
      </div>
    </li>
    <!-- //가이드 메뉴, 삭제 예정 -->
  </ul>
</div>
<!-- //lnb 메뉴 축소 화면 -->
