.contents {
  button {
    margin-right: 1rem;
  }
  .select-box {
    + .input,
    + .select-box {
      margin-left: 1rem;
    }
  }
}
.serch-wrap {
  margin-top: 2.4rem;
  > dl {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
    dt {
      width: 20rem;
    }
    .require {
      position: relative;
      &::after {
        content: "*";
        position: absolute;
        top: 0;
        right: -1rem;
        color: #ff0000;
      }
    }
    .cr-situation {
      display: flex;
      align-items: center;
      li {
        position: relative;
        margin-left: 2.4rem;
        padding-left: 2.4rem;
        &:first-child,
        &:last-child {
          margin-left: 0;
          padding-left: 0;
          &:after {
            content: none;
          }
        }
        &:last-child {
          margin-left: 1.2rem;
        }
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 0.1rem;
          height: 1.8rem;
          background-color: #999;
        }
      }
      dl {
        display: flex;
      }
      dt {
        width: fit-content;
        margin-right: 1.6rem;
      }
      dd {
        font-weight: 500;
      }
    }
  }
}

.select,
input {
  height: 3.2rem;
  padding: 0rem 1.2rem;
  border-radius: 0.6rem;
  border: 1px solid var(--line-color01);
  font-size: 1.4rem;
  &::placeholder {
    color: #999999;
  }
  &:hover {
    border: 1px solid var(--primary-color2);
  }
  &:focus {
    border: 1px solid var(--strong-txt-color);
  }
  &:disabled {
    color: #999999;
    background-color: #f6f6f6;
    border: 1px solid var(--line-color02);
  }
  &:required {
    border: 1px solid var(--alert-txt-color);
  }
}
.select {
  width: 16rem;
  background: var(--white-color)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' viewBox='0 -960 960 960' width='20'%3E%3Cpath d='M480-368 276-572l15-15 189 189 189-189 15 15-204 204Z' /%3E%3C/svg%3E")
    calc(100% - 0.8rem) center / 2.4rem 2.4rem no-repeat;
}
.search-box {
  display: flex;
}
.checkbox {
  margin-right: 2rem;
  &.no-label {
    margin-right: 0;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    position: relative;
    padding-left: 3.6rem;
    cursor: pointer;
  }
  input[type="checkbox"] + label:before,
  input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% + 0.1rem);
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  input[type="checkbox"] + label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='3.2rem' viewBox='0 -960 960 960' width='3.2rem'%3E%3Cpath d='m423.333-336.667 264-264L658-630 423.333-395.333l-116.666-116L277.334-482l145.999 145.333ZM228-154.667q-30.575 0-51.954-21.379T154.667-228v-504q0-30.575 21.379-51.954T228-805.333h504q30.575 0 51.954 21.379T805.333-732v504q0 30.575-21.379 51.954T732-154.667H228ZM228-196h504q12 0 22-10t10-22v-504q0-12-10-22t-22-10H228q-12 0-22 10t-10 22v504q0 12 10 22t22 10Zm-32-568v568-568Z'/%3E%3C/svg%3E");
    opacity: 0.2;
  }
  input[type="checkbox"]:checked + label:before {
    content: none;
  }
  input[type="checkbox"]:checked + label:after {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='3.2rem' viewBox='0 -960 960 960' width='3.2rem'%3E%3Cpath d='M423.333-395.333 321.667-497.667q-6-5.333-14.5-5.499-8.5-.167-14.834 5.499-7 7-7 15.334 0 8.333 7 14.666l105.667 105Q408.333-351 423-351t25.667-11.667L673-586.334q5.333-5.333 5.833-13.833t-5.833-15.5Q666-622 657.667-622q-8.334 0-14 6.333L423.333-395.333ZM228-154.667q-31 0-52.167-21.166Q154.667-197 154.667-228v-504q0-31 21.166-52.167Q197-805.333 228-805.333h504q31 0 52.167 21.166Q805.333-763 805.333-732v504q0 31-21.166 52.167Q763-154.667 732-154.667H228Z'/%3E%3C/svg%3E");
  }
}
.result-wrap {
  display: flex;
}
.summary-box {
  width: 20rem;
  height: 100%;
  background-color: #eee;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  li {
    padding: 2.4rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    &:last-child {
      border-bottom: none;
    }
    > span {
      display: flex;
      align-items: center;
      margin-bottom: 0.6rem;
      font-size: 1.2rem;
      &.complete {
        color: blue;
        &::before {
          background-color: rgba(0, 0, 255, 0.3);
        }
      }
      &.waiting {
        color: green;
        &::before {
          background-color: rgba(0, 255, 0, 0.3);
        }
      }
      &::before {
        content: "";
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.6rem;
        border-radius: 50%;
      }
    }
    p {
      font-weight: 500;
    }
  }
}
.result-box {
  width: 100%;
  margin-left: 3.2rem;
  .list-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.2rem;
  }
}
.product-list {
  .list-summary {
    display: flex;
    justify-content: space-between;
    label {
      line-height: 3.2rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
  .left,
  .right {
    display: flex;
    align-items: center;
  }
  .item-wrap {
    display: grid;
    justify-content: space-between;
    grid-template-columns: calc(50% - 1.2rem) calc(50% - 1.2rem);
    .item {
      display: flex;
      margin-bottom: 2.4rem;
    }
  }
  .item-detail {
    display: flex;
    .img {
      width: 30rem;
      height: 15rem;
      margin-right: 2rem;
      background-color: #eee;
      border-radius: 1.4rem;
    }
    .txt-wrap {
      h4 {
        margin: 1rem 0 2rem;
      }
      .item-price {
        font-size: 2.4rem;
        font-weight: 500;
      }
    }
  }
}
input[type="date"] {
  width: 16rem;
  background: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 2.5V4.375M14.375 2.5V4.375M2.5 15.625V6.25C2.5 5.75272 2.69754 5.27581 3.04917 4.92417C3.40081 4.57254 3.87772 4.375 4.375 4.375H15.625C16.1223 4.375 16.5992 4.57254 16.9508 4.92417C17.3025 5.27581 17.5 5.75272 17.5 6.25V15.625M2.5 15.625C2.5 16.1223 2.69754 16.5992 3.04917 16.9508C3.40081 17.3025 3.87772 17.5 4.375 17.5H15.625C16.1223 17.5 16.5992 17.3025 16.9508 16.9508C17.3025 16.5992 17.5 16.1223 17.5 15.625M2.5 15.625V9.375C2.5 8.87772 2.69754 8.40081 3.04917 8.04917C3.40081 7.69754 3.87772 7.5 4.375 7.5H15.625C16.1223 7.5 16.5992 7.69754 16.9508 8.04917C17.3025 8.40081 17.5 8.87772 17.5 9.375V15.625' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.65234 10.2865V15.0001H7.66927V11.2175H7.64323L6.5625 11.8946V11.0287L7.72786 10.2865H8.65234Z' fill='black'/%3E%3Cpath d='M9.61276 15.0001L9.60625 14.2904L11.299 12.7345C11.7384 12.3145 11.976 12.0541 11.976 11.6798C11.976 11.2598 11.6603 10.9994 11.2273 11.0027C10.7846 10.9994 10.4949 11.2794 10.4982 11.7319H9.56719C9.56393 10.8106 10.2475 10.2214 11.2404 10.2214C12.2495 10.2214 12.9201 10.7976 12.9201 11.6147C12.9201 12.1518 12.6596 12.5912 11.6896 13.4701L10.9734 14.1667V14.1928H12.9852V15.0001H9.61276Z' fill='black'/%3E%3C/svg%3E%0A")
    right 0.8rem center / 2rem 2rem no-repeat;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  &:disabled {
    background-color: #f6f6f6;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 2.5V4.375M14.375 2.5V4.375M2.5 15.625V6.25C2.5 5.75272 2.69754 5.27581 3.04917 4.92417C3.40081 4.57254 3.87772 4.375 4.375 4.375H15.625C16.1223 4.375 16.5992 4.57254 16.9508 4.92417C17.3025 5.27581 17.5 5.75272 17.5 6.25V15.625M2.5 15.625C2.5 16.1223 2.69754 16.5992 3.04917 16.9508C3.40081 17.3025 3.87772 17.5 4.375 17.5H15.625C16.1223 17.5 16.5992 17.3025 16.9508 16.9508C17.3025 16.5992 17.5 16.1223 17.5 15.625M2.5 15.625V9.375C2.5 8.87772 2.69754 8.40081 3.04917 8.04917C3.40081 7.69754 3.87772 7.5 4.375 7.5H15.625C16.1223 7.5 16.5992 7.69754 16.9508 8.04917C17.3025 8.40081 17.5 8.87772 17.5 9.375V15.625' stroke='%23999999' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.65234 10.2865V15.0001H7.66927V11.2175H7.64323L6.5625 11.8946V11.0287L7.72786 10.2865H8.65234Z' fill='%23999999'/%3E%3Cpath d='M9.61276 15.0001L9.60625 14.2904L11.299 12.7345C11.7384 12.3145 11.976 12.0541 11.976 11.6798C11.976 11.2598 11.6603 10.9994 11.2273 11.0027C10.7846 10.9994 10.4949 11.2794 10.4982 11.7319H9.56719C9.56393 10.8106 10.2475 10.2214 11.2404 10.2214C12.2495 10.2214 12.9201 10.7976 12.9201 11.6147C12.9201 12.1518 12.6596 12.5912 11.6896 13.4701L10.9734 14.1667V14.1928H12.9852V15.0001H9.61276Z' fill='%23999999'/%3E%3C/svg%3E%0A");
    border: 1px solid var(--line-color02);
  }
}
.text-area {
  border: 1px solid var(--line-color01);
  border-radius: 0.6rem;
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  overflow: hidden;
  textarea {
    display: block;
    width: 100%;
    min-height: 5.2rem;
    padding: 0.6rem 1.2rem;
    padding-right: 0.6rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 1.4rem;
    overflow-y: scroll;
    resize: none;
    &::-webkit-scrollbar {
      width: 1.6rem;
    }
    &::-webkit-scrollbar-thumb {
      border: 0.6rem solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 20rem;
      background-color: var(--bg-color-blue02);
    }
  }
  .counter {
    padding-right: 0.6rem;
    font-size: 1.1rem;
    text-align: right;
  }
}
