.contents {
  .select-box {
    + .input,
    + .select-box,
    + .text-area {
      margin-left: 1rem;
    }
  }
}
.search-wrap {
  margin-top: 3.2rem;
  &.ty2 {
    margin: 4rem 0;
    padding: 3.2rem;
    border: 1px solid var(--line-color02);
    border-radius: 0.6rem;
  }
  > dl {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    &:last-of-type {
      margin-bottom: 0;
    }
    dt {
      width: 12rem;
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: 600;
    }
    .cr-situation {
      display: flex;
      align-items: center;
      li {
        position: relative;
        margin-left: 1.6rem;
        padding-left: 1.6rem;
        &:first-child,
        &:last-child {
          margin-left: 0;
          padding-left: 0;
          &:after {
            content: none;
          }
        }
        &:last-child {
          margin-left: 1.2rem;
        }
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 0.1rem;
          height: 1.2rem;
          background-color: var(--line-color01);
        }
      }
      dl {
        display: flex;
        align-items: center;
      }
      dt {
        width: fit-content;
        margin-right: 0.8rem;
        font-weight: 400;
      }
      dd {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
  }
}
input {
  width: 100%;
}
.select,
input {
  height: 3.2rem;
  padding: 0rem 1.2rem;
  border-radius: 0.6rem;
  border: 1px solid var(--line-color01);
  font-size: 1.4rem;
  &::placeholder {
    color: var(--sub-txt-color2);
  }
  &:hover,
  &.hover {
    border: 1px solid var(--primary-color2);
  }
  &:focus,
  &.focused {
    border: 1px solid var(--strong-txt-color);
  }
  &:disabled {
    color: var(--sub-txt-color2);
    background-color: #f6f6f6;
    border: 1px solid var(--line-color02);
  }
  &:required {
    border: 1px solid var(--alert-txt-color);
  }
}
.search-box {
  display: flex;
}
.checkbox {
  & + .checkbox {
    margin-left: 2rem;
  }

  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    position: relative;
    padding-left: 3.2rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
    cursor: pointer;
  }
  input[type="checkbox"]:checked + label {
    font-weight: 600;
  }
  input[type="checkbox"]:disabled + label {
    color: var(--sub-txt-color2);
  }
  input[type="checkbox"] + label:before,
  input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  input[type="checkbox"]:checked + label:before {
    content: none;
  }
  input[type="checkbox"]:checked + label:after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='8' fill='%2342444E'/%3E%3Cpath d='M6.16666 12.8333L9.49999 16.1666L17.8333 7.83325' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  input[type="checkbox"] + label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='7.5' fill='white'/%3E%3Cpath d='M6.16666 12.8333L9.49999 16.1666L17.8333 7.83325' stroke='%23CCCCCC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='7.5' stroke='%23CCCCCC'/%3E%3C/svg%3E%0A");
  }
  input[type="checkbox"]:disabled + label::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='7.5' fill='%23F7F7F7'/%3E%3Cpath d='M6.16666 12.8333L9.49999 16.1666L17.8333 7.83325' stroke='%23CCCCCC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='7.5' stroke='%23EEEEEE'/%3E%3C/svg%3E%0A");
  }
  input[type="checkbox"]:disabled:checked + label:after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Crect width='24' height='24' rx='8' fill='%2342444E'/%3E%3Cpath d='M6.16666 12.8333L9.49999 16.1666L17.8333 7.83325' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  &.sm-check {
    input {
      height: 2rem;
    }
    input[type="checkbox"] + label {
      padding-left: 2.8rem;
      font-size: 1.4rem;
      line-height: 2rem;
    }
    input[type="checkbox"] + label:before,
    input[type="checkbox"]:checked + label:after {
      width: 2rem;
      height: 2rem;
    }
  }
}
.result-wrap {
  display: flex;
}
.summary-box {
  width: 19.2rem;
  height: 100%;
  margin-right: 4rem;
  background-color: #f4f9ff;
  border: 1px solid #dfe6f0;
  border-radius: 1.2rem;
  font-weight: 600;
  li {
    padding: 1.6rem 2rem;
    border-bottom: 1px solid var(--line-color02);
    &:first-child {
      padding-top: 2rem;
    }
    &:last-child {
      padding-bottom: 2rem;
      border-bottom: none;
    }
    > span {
      padding: 0.2rem 0.5rem;
      font-size: 1.2rem;
      line-height: 1.8rem;
      border-radius: 2px;
      &.complete {
        color: #423895;
        background-color: #eeebff;
      }
      &.waiting {
        color: #109b6e;
        background-color: #d2f0ec;
      }
      &.collecting {
        color: #f68827;
        background-color: #f8ebde;
      }
    }
    p {
      margin-top: 0.4rem;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}
.result-box {
  flex: 1;
  .list-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
}
.product-list {
  .left,
  .right {
    display: flex;
    align-items: center;
  }
  .item-wrap {
    display: grid;
    justify-content: space-between;
    grid-template-columns: calc(50% - 2.4rem) calc(50% - 2.4rem);
    margin-top: 1.6rem;
    padding-top: 3.2rem;
    border-top: 1px solid var(--line-color01);
    border-bottom: 1px solid var(--line-color01);
    &.ty2 {
      display: block;
      margin-top: 0;
      padding: 8rem 0;
      text-align: center;
      font-weight: 600;
      .no-result {
        width: 5.6rem;
        height: 5.6rem;
        margin: 0 auto 1.6rem;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='28' cy='28' r='28' fill='%23EEEEEE'/%3E%3Cpath d='M30.0856 14L29.8363 34.0411H26.6336L26.3651 14H30.0856ZM26.25 40.1397C26.25 39.5644 26.4226 39.0785 26.7678 38.6822C27.1258 38.2858 27.65 38.0877 28.3404 38.0877C29.018 38.0877 29.5358 38.2858 29.8938 38.6822C30.2646 39.0785 30.45 39.5644 30.45 40.1397C30.45 40.6895 30.2646 41.1625 29.8938 41.5589C29.5358 41.9552 29.018 42.1534 28.3404 42.1534C27.65 42.1534 27.1258 41.9552 26.7678 41.5589C26.4226 41.1625 26.25 40.6895 26.25 40.1397Z' fill='%23C6C6C6'/%3E%3C/svg%3E%0A");
      }
      .no-result-tt {
        color: var(--sub-txt-color2);
        font-weight: 400;
      }
      .progress-wrap {
        position: relative;
        width: 48rem;
        height: 1.2rem;
        margin: 0 auto 2.4rem;
        background: #f6f6f6;
        border: 1px solid var(--line-color02);
        border-radius: 0.6rem;
        .progress {
          position: absolute;
          width: 8rem;
          height: 1.2rem;
          background: var(--primary-color2);
          border-radius: 0.6rem;
          left: 0;
          top: 0;
          animation: wheel 2.5s infinite;
        }
        @keyframes wheel {
          0% {
            width: 8rem;
          }
          100% {
            width: 100%;
          }
        }
      }
    }
    .item {
      display: flex;
      position: relative;
      height: 10.4rem;
      margin-bottom: 3.2rem;
      .img {
        flex-shrink: 0;
        width: 10.4rem;
        height: 10.4rem;
        margin-right: 1.6rem;
        padding: 0.4rem;
        background-color: #eee;
      }
      .txt-wrap {
        span {
          font-size: 1.4rem;
          line-height: 2rem;
          color: var(--sub-txt-color);
        }
        a {
          display: block;
          margin-top: 0.2rem;
          text-decoration: underline;
          line-height: 2rem;
          color: var(--primary-color2);
        }
        .item-price {
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: 1.6rem;
          line-height: 2.4rem;
          font-weight: 600;
        }
      }
    }
  }
}
.list-summary {
  display: flex;
  justify-content: space-between;
  label {
    line-height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .result {
    margin-right: 1.2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    em {
      font-weight: 600;
    }
  }
}
input[type="date"] {
  width: 16rem;
  background: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 2.5V4.375M14.375 2.5V4.375M2.5 15.625V6.25C2.5 5.75272 2.69754 5.27581 3.04917 4.92417C3.40081 4.57254 3.87772 4.375 4.375 4.375H15.625C16.1223 4.375 16.5992 4.57254 16.9508 4.92417C17.3025 5.27581 17.5 5.75272 17.5 6.25V15.625M2.5 15.625C2.5 16.1223 2.69754 16.5992 3.04917 16.9508C3.40081 17.3025 3.87772 17.5 4.375 17.5H15.625C16.1223 17.5 16.5992 17.3025 16.9508 16.9508C17.3025 16.5992 17.5 16.1223 17.5 15.625M2.5 15.625V9.375C2.5 8.87772 2.69754 8.40081 3.04917 8.04917C3.40081 7.69754 3.87772 7.5 4.375 7.5H15.625C16.1223 7.5 16.5992 7.69754 16.9508 8.04917C17.3025 8.40081 17.5 8.87772 17.5 9.375V15.625' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.65234 10.2865V15.0001H7.66927V11.2175H7.64323L6.5625 11.8946V11.0287L7.72786 10.2865H8.65234Z' fill='black'/%3E%3Cpath d='M9.61276 15.0001L9.60625 14.2904L11.299 12.7345C11.7384 12.3145 11.976 12.0541 11.976 11.6798C11.976 11.2598 11.6603 10.9994 11.2273 11.0027C10.7846 10.9994 10.4949 11.2794 10.4982 11.7319H9.56719C9.56393 10.8106 10.2475 10.2214 11.2404 10.2214C12.2495 10.2214 12.9201 10.7976 12.9201 11.6147C12.9201 12.1518 12.6596 12.5912 11.6896 13.4701L10.9734 14.1667V14.1928H12.9852V15.0001H9.61276Z' fill='black'/%3E%3C/svg%3E%0A")
    right 0.8rem center / 2rem 2rem no-repeat;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  &:disabled {
    background-color: #f6f6f6;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 2.5V4.375M14.375 2.5V4.375M2.5 15.625V6.25C2.5 5.75272 2.69754 5.27581 3.04917 4.92417C3.40081 4.57254 3.87772 4.375 4.375 4.375H15.625C16.1223 4.375 16.5992 4.57254 16.9508 4.92417C17.3025 5.27581 17.5 5.75272 17.5 6.25V15.625M2.5 15.625C2.5 16.1223 2.69754 16.5992 3.04917 16.9508C3.40081 17.3025 3.87772 17.5 4.375 17.5H15.625C16.1223 17.5 16.5992 17.3025 16.9508 16.9508C17.3025 16.5992 17.5 16.1223 17.5 15.625M2.5 15.625V9.375C2.5 8.87772 2.69754 8.40081 3.04917 8.04917C3.40081 7.69754 3.87772 7.5 4.375 7.5H15.625C16.1223 7.5 16.5992 7.69754 16.9508 8.04917C17.3025 8.40081 17.5 8.87772 17.5 9.375V15.625' stroke='%23999999' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.65234 10.2865V15.0001H7.66927V11.2175H7.64323L6.5625 11.8946V11.0287L7.72786 10.2865H8.65234Z' fill='%23999999'/%3E%3Cpath d='M9.61276 15.0001L9.60625 14.2904L11.299 12.7345C11.7384 12.3145 11.976 12.0541 11.976 11.6798C11.976 11.2598 11.6603 10.9994 11.2273 11.0027C10.7846 10.9994 10.4949 11.2794 10.4982 11.7319H9.56719C9.56393 10.8106 10.2475 10.2214 11.2404 10.2214C12.2495 10.2214 12.9201 10.7976 12.9201 11.6147C12.9201 12.1518 12.6596 12.5912 11.6896 13.4701L10.9734 14.1667V14.1928H12.9852V15.0001H9.61276Z' fill='%23999999'/%3E%3C/svg%3E%0A");
    border: 1px solid var(--line-color02);
  }
}
.text-area {
  border: 1px solid var(--line-color01);
  border-radius: 0.6rem;
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  overflow: hidden;
  textarea {
    display: block;
    width: 100%;
    min-height: 5.2rem;
    padding: 0.6rem 1.2rem;
    padding-right: 0.6rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 1.4rem;
    overflow-y: scroll;
    resize: none;
    &::-webkit-scrollbar {
      width: 1.6rem;
    }
    &::-webkit-scrollbar-thumb {
      border: 0.6rem solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 20rem;
      background-color: var(--bg-color-blue02);
    }
    &::placeholder {
      line-height: 2rem;
    }
  }
  .counter {
    padding-right: 0.6rem;
    font-size: 1.1rem;
    text-align: right;
  }
}

// .select-box {
//   width: 16rem;
//   position: relative;
//   select {
//     display: none;
//   }
//   .select-selected {
//     height: 3.2rem;
//     padding: 0 1.2rem;
//     border: 0.1rem solid var(--line-color01);
//     border-radius: 0.6rem;
//     background: var(--white-color)
//       url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L11.7879 14.7879C11.905 14.905 12.095 14.905 12.2121 14.7879L17 10' stroke='%23999999' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A")
//       center right 0.4rem / 2.4rem 2.4rem no-repeat;
//     font-size: 1.4rem;
//     line-height: 3.2rem;
//     &::after {
//       position: absolute;
//       content: "";
//       top: 14px;
//       right: 10px;
//       width: 0;
//       height: 0;
//     }
//     &.select-arrow-active {
//       border: 0.1rem solid var(--strong-txt-color);
//       border-radius: 0.6rem 0.6rem 0 0;
//       border-bottom-width: 0;
//       &:hover {
//         border: 0.1rem solid var(--strong-txt-color);
//         border-bottom-width: 0;
//       }
//     }
//     &:hover {
//       border: 1px solid var(--primary-color2);
//     }
//   }
//   &.placeholder {
//     .select-selected {
//       color: var(--sub-txt-color2);
//     }
//   }
//   &.required {
//     .select-selected {
//       border: 1px solid var(--alert-txt-color);
//       &.select-arrow-active {
//         border: 0.1rem solid var(--strong-txt-color);
//         border-bottom-width: 0;
//       }
//     }
//   }
//   &.disabled {
//     .select-selected {
//       background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L11.7879 14.7879C11.905 14.905 12.095 14.905 12.2121 14.7879L17 10' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
//       background-color: #f6f6f6;
//       color: var(--sub-txt-color2);
//       &:hover {
//         border: 0.1px solid var(--line-color01);
//       }
//     }
//   }
//   .select-items div {
//     padding: 0 0.8rem;
//     color: var(--base-txt-color);
//     font-size: 1.4rem;
//     line-height: 3.2rem;
//   }
//   .select-items {
//     position: absolute;
//     background-color: var(--white-color);
//     top: 100%;
//     left: 0;
//     right: 0;
//     z-index: 99;
//     padding: 0.4rem;
//     border-radius: 0 0 0.6rem 0.6rem;
//     border: 0.1rem solid var(--strong-txt-color);
//     border-top-width: 0;
//     div:hover {
//       background-color: #e9eff9;
//       border-radius: 0.3rem;
//     }
//     .hover {
//       background-color: #e9eff9;
//       border-radius: 0.3rem;
//     }
//   }
//   .select-hide {
//     display: none;
//   }
//   .same-as-selected {
//     font-weight: 600;
//     border-radius: 0.3rem;
//   }
//   .disabled {
//     color: var(--sub-txt-color2) !important;
//   }
// }

.radio-box + .radio-box {
  margin-left: 2.4rem;
}
.radio-box {
  input[type="radio"] {
    display: none;
    + label {
      cursor: pointer;
      position: relative;
      padding-left: 3.2rem;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.4rem;
        background-size: 2.4rem 2.4rem;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' fill='white'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%23CCCCCC'/%3E%3C/svg%3E%0A");
      }
    }
    &:checked + label {
      font-weight: 600;
    }
    &:checked + label::before {
      background-size: 2.7rem 2.7rem;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%2342444E'/%3E%3Cg filter='url(%23filter0_d_436_14)'%3E%3Crect x='6' y='6' width='12' height='12' rx='6' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_436_14' x='3' y='3' width='24' height='24' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_436_14'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_436_14' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    &:disabled + label {
      color: var(--sub-txt-color2);
    }
    &:disabled + label::before {
      background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' fill='%23F3F5F7'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%23CCCCCC'/%3E%3C/svg%3E%0A");
    }
    &:disabled:checked + label::before {
      background-size: 2.4rem 2.4rem;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_436_1366)'%3E%3Crect width='24' height='24' rx='12' fill='%23CCCCCC'/%3E%3Cg filter='url(%23filter0_d_436_1366)'%3E%3Crect x='6' y='6' width='12' height='12' rx='6' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_436_1366' x='3' y='3' width='24' height='24' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_436_1366'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_436_1366' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_436_1366'%3E%3Crect width='24' height='24' rx='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
  &.small {
    input[type="radio"] + label {
      padding-left: 2.6rem;
      font-size: 1.4rem;
      line-height: 2rem;
    }
    input[type="radio"] {
      + label::before {
        width: 2rem;
        height: 2rem;
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' fill='white'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%23CCCCCC'/%3E%3C/svg%3E%0A");
      }
      &:checked + label::before {
        background-size: 2.2rem 2.2rem;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%2342444E'/%3E%3Cg filter='url(%23filter0_d_436_14)'%3E%3Crect x='6' y='6' width='12' height='12' rx='6' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_436_14' x='3' y='3' width='24' height='24' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_436_14'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_436_14' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
      &:disabled + label::before {
        background-size: 2rem 2rem;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' fill='%23F3F5F7'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%23CCCCCC'/%3E%3C/svg%3E%0A");
      }
      &:disabled:checked + label::before {
        background-size: 2rem 2rem;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_436_1366)'%3E%3Crect width='24' height='24' rx='12' fill='%23CCCCCC'/%3E%3Cg filter='url(%23filter0_d_436_1366)'%3E%3Crect x='6' y='6' width='12' height='12' rx='6' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_436_1366' x='3' y='3' width='24' height='24' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_436_1366'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_436_1366' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_436_1366'%3E%3Crect width='24' height='24' rx='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }
  &.ty2 {
    border-radius: 0.6rem;
    overflow: hidden;
    display: flex;
    input {
      display: none;
      & + label {
        padding-left: 2rem;
        &::before {
          content: none;
        }
      }
    }
    label {
      padding: 0.6rem 2rem;
      background-color: #f6f6f6;
      border: 1px solid var(--line-color02);
      border-right-color: #f6f6f6;
      line-height: 1.8rem;
      cursor: pointer;
      transition: all 0.3s;
      &:first-of-type {
        border-top-left-radius: 0.6rem;
        border-bottom-left-radius: 0.6rem;
      }
      &:last-of-type {
        border-top-right-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;
      }
      &:hover {
        background: #eee;
      }
    }
    input:checked + label {
      background: var(--white-color);
      border: 1px solid var(--strong-txt-color);
    }
  }
}
.page_wrap {
  margin-top: 4rem;
}
.page_nation {
  display: flex;
  justify-content: center;
  align-items: center;
  li a {
    display: block;
    margin: 0 1.2rem;
    width: 0.8rem;
    height: 2.4rem;
    text-align: center;
    background-color: #fff;
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-decoration: none;
    &:hover {
      color: var(--primary-color2);
    }
    &.active {
      font-weight: 700;
    }
  }
  .arrow {
    width: 2rem;
    margin: 0;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 15L7.5 10L12.5 5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 15L7.5 10L12.5 5' stroke='%231349B8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
  .pprev {
    margin-left: 0;
  }
  .pprev,
  .nnext {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 15L5 10L10 5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 15L10 10L15 5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 15L5 10L10 5' stroke='%231349B8' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 15L10 10L15 5' stroke='%231349B8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }

  .next,
  .nnext {
    transform: rotate(180deg);
  }
  &.disabled {
    li a {
      color: var(--sub-txt-color2);
    }
    .arrow {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 15L7.5 10L12.5 5' stroke='%23cccccc' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    .pprev,
    .nnext {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 15L5 10L10 5' stroke='%23cccccc' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 15L10 10L15 5' stroke='%23cccccc' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}
.select-box {
  width: 16rem;
  position: relative;
  height: 3.2rem;
  border: 0.1rem solid var(--line-color01);
  border-radius: 0.6rem;
  background: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L11.7879 14.7879C11.905 14.905 12.095 14.905 12.2121 14.7879L17 10' stroke='%23999999' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A")
    center right 0.4rem / 2.4rem 2.4rem no-repeat;
  font-size: 1.4rem;
  line-height: 3.2rem;
  &.active {
    border: 1px solid var(--strong-txt-color);
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 14L12.2121 9.21213C12.095 9.09498 11.905 9.09497 11.7879 9.21213L7 14' stroke='%23999999' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }
  &.open {
    border: 1px solid var(--strong-txt-color);
    ul li:not(.init) {
      display: block;
    }
  }
  &.hover {
    &::before {
      content: "";
      position: absolute;
      left: 0.4rem;
      right: 0.4rem;
      top: 0.2rem;
      bottom: 0.2rem;
      padding: 1rem;
      background: #e9eff9
        url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L11.7879 14.7879C11.905 14.905 12.095 14.905 12.2121 14.7879L17 10' stroke='%23999999' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A")
        center right 0.4rem / 2.4rem 2.4rem no-repeat;
      border-radius: 3px;
    }
  }
  &.disabled {
    color: var(--sub-txt-color2);
    background-color: var(--bg-color-blue02);
  }
  &.validation {
    border: 1px solid var(--alert-txt-color);
    li:not(.init) {
      border-left-color: var(--alert-txt-color);
      border-right-color: var(--alert-txt-color);
    }
    li:last-child {
      border-bottom-color: var(--alert-txt-color);
    }
  }
  ul {
    position: absolute;
    left: -1px;
    right: -1px;
    line-height: 3.2rem;
  }
  li {
    cursor: pointer;
    &.placeholder {
      color: var(--sub-txt-color2);
    }
    height: 3.2rem;
    padding: 0 1.2rem;
    &:not(.init) {
      position: relative;
      z-index: 10;
      display: none;
      width: 100%;
      background-color: var(--white-color);
      border-right: 1px solid var(--strong-txt-color);
      border-left: 1px solid var(--strong-txt-color);
      color: var(--base-txt-color);
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 4px;
        right: 4px;
        top: 0;
        bottom: 0;
        border-radius: 3px;
      }
    }
    &:not(.init):hover::after,
    &.hover::after {
      background: #e9eff9;
    }
    &.selected:not(.init) {
      font-weight: 600;
    }
    &.disabled {
      color: var(--sub-txt-color2);
    }
    &:last-child {
      height: 3.4rem;
      border-radius: 0 0 0.6rem 0.6rem;
      border-bottom: 1px solid var(--strong-txt-color);
      &::after {
        bottom: 3px;
      }
    }
    &.init {
      & + li::before {
        content: "";
        position: absolute;
        top: -0.75rem;
        left: -1px;
        right: -1px;
        height: 0.75rem;
        background-color: var(--white-color);
        border-right: 1px solid var(--strong-txt-color);
        border-left: 1px solid var(--strong-txt-color);
      }
    }
  }
}
.button-wrap {
  font-size: 0;
  .button {
    margin-right: 0.8rem;
  }
}
