i {
  display: inline-block;
  vertical-align: middle;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.6rem;
  background-repeat: no-repeat;
  background-position: center;
  &.small {
    width: 2rem;
    height: 2rem;
  }
}
$large-size: 40;
$normal-size: 24;
$small-size: 20;
$mini-size: 10;
$orange-color: #ff602b;
$orange-color-only: str-slice("#{$orange-color}", 2);
$white-color: #ffffff;
$white-color-only: str-slice("#{$white-color}", 2);
$normal-color: #42444e;
$normal-color-only: str-slice("#{$normal-color}", 2);
$primary-color: #055db5;
$primary-color-only: str-slice("#{$primary-color}", 2);

@mixin ico-my-menu($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.477 2 2 6.477 2 12C2 17.523 6.477 22 12 22C17.523 22 22 17.523 22 12C22 6.477 17.523 2 12 2Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.271 18.346C4.271 18.346 6.5 15.5 12 15.5C17.5 15.5 19.73 18.346 19.73 18.346M12 12C12.7956 12 13.5587 11.6839 14.1213 11.1213C14.6839 10.5587 15 9.79565 15 9C15 8.20435 14.6839 7.44129 14.1213 6.87868C13.5587 6.31607 12.7956 6 12 6C11.2043 6 10.4413 6.31607 9.87868 6.87868C9.31607 7.44129 9 8.20435 9 9C9 9.79565 9.31607 10.5587 9.87868 11.1213C10.4413 11.6839 11.2043 12 12 12Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-my-menu {
  @include ico-my-menu($normal-color-only);
  &.ty2 {
    @include ico-my-menu($primary-color-only);
  }
}
@mixin ico-manage-terms($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.6568 17.6568L6.34314 6.34314' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-manage-terms {
  @include ico-manage-terms($normal-color-only);
  &.ty2 {
    @include ico-manage-terms($primary-color-only);
  }
}
@mixin ico-manage-board($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10H16M8 18H16M8 14H12M4 21.4V2.6C4 2.44087 4.06321 2.28826 4.17574 2.17574C4.28826 2.06321 4.44087 2 4.6 2H16.252C16.4111 2.00014 16.5636 2.06345 16.676 2.176L19.824 5.324C19.88 5.3799 19.9243 5.44632 19.9545 5.51943C19.9847 5.59254 20.0002 5.6709 20 5.75V21.4C20 21.4788 19.9845 21.5568 19.9543 21.6296C19.9242 21.7024 19.88 21.7685 19.8243 21.8243C19.7685 21.88 19.7024 21.9242 19.6296 21.9543C19.5568 21.9845 19.4788 22 19.4 22H4.6C4.52121 22 4.44319 21.9845 4.37039 21.9543C4.29759 21.9242 4.23145 21.88 4.17574 21.8243C4.12002 21.7685 4.07583 21.7024 4.04567 21.6296C4.01552 21.5568 4 21.4788 4 21.4Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V5.4C16 5.55913 16.0632 5.71174 16.1757 5.82426C16.2883 5.93679 16.4409 6 16.6 6H20' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-manage-board {
  @include ico-manage-board($normal-color-only);
  &.ty2 {
    @include ico-manage-board($primary-color-only);
  }
}
@mixin ico-manage-site($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 11.6211V18C20 19.1046 19.1046 20 18 20H6C4.89543 20 4 19.1046 4 18V11.6211M7.5 9.75C7.5 10.9926 6.49264 12 5.25 12C4.09397 12 3.14157 11.1282 3.01442 10.0062C2.99524 9.83688 3.02176 9.66657 3.06477 9.50173L4.10996 5.49516C4.3397 4.6145 5.13506 4 6.04519 4H17.9548C18.8649 4 19.6603 4.6145 19.89 5.49516L20.9352 9.50173C20.9782 9.66657 21.0048 9.83688 20.9856 10.0062C20.8584 11.1282 19.906 12 18.75 12C17.5074 12 16.5 10.9926 16.5 9.75M7.5 9.75C7.5 10.9926 8.50736 12 9.75 12C10.9926 12 12 10.9926 12 9.75M7.5 9.75L8 4M12 9.75C12 10.9926 13.0074 12 14.25 12C15.4926 12 16.5 10.9926 16.5 9.75M12 9.75V4M16.5 9.75L16 4' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-manage-site {
  @include ico-manage-site($normal-color-only);
  &.ty2 {
    @include ico-manage-site($primary-color-only);
  }
}
@mixin ico-manage-solution($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 21H12M15 21H12M12 21V18M12 18H19C20.1046 18 21 17.1046 21 16V7C21 5.89543 20.1046 5 19 5H5C3.89543 5 3 5.89543 3 7V16C3 17.1046 3.89543 18 5 18H12Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-manage-solution {
  @include ico-manage-solution($normal-color-only);
  &.ty2 {
    @include ico-manage-solution($primary-color-only);
  }
}
@mixin ico-manage-collect($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 14.5L19.26 9.696C19.1875 9.2241 18.9485 8.79373 18.5863 8.48268C18.224 8.17163 17.7625 8.00042 17.285 8H6.71605C6.23826 7.99994 5.77623 8.17094 5.4136 8.48203C5.05096 8.79312 4.81167 9.22376 4.73905 9.696L3.35405 18.696C3.31022 18.981 3.32854 19.2721 3.40775 19.5494C3.48697 19.8267 3.62521 20.0836 3.813 20.3024C4.00078 20.5212 4.23367 20.6969 4.49569 20.8173C4.75772 20.9377 5.04268 21 5.33105 21H12' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 19L17 22L22 17M14 5C14 4.46957 13.7893 3.96086 13.4142 3.58579C13.0391 3.21071 12.5304 3 12 3C11.4696 3 10.9609 3.21071 10.5858 3.58579C10.2107 3.96086 10 4.46957 10 5' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-manage-collect {
  @include ico-manage-collect($normal-color-only);
  &.ty2 {
    @include ico-manage-collect($primary-color-only);
  }
}
@mixin ico-manage-category($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 2.25H4.5C3.25927 2.25 2.25 3.25927 2.25 4.5V9C2.25 10.2407 3.25927 11.25 4.5 11.25H9C10.2407 11.25 11.25 10.2407 11.25 9V4.5C11.25 3.25927 10.2407 2.25 9 2.25ZM9.75 9C9.75 9.41385 9.41385 9.75 9 9.75H4.5C4.08615 9.75 3.75 9.41385 3.75 9V4.5C3.75 4.08615 4.08615 3.75 4.5 3.75H9C9.41385 3.75 9.75 4.08615 9.75 4.5V9Z' fill='%23#{$color}'/%3E%3Cpath d='M19.5 12.75H15C13.7593 12.75 12.75 13.7593 12.75 15V19.5C12.75 20.7407 13.7593 21.75 15 21.75H19.5C20.7407 21.75 21.75 20.7407 21.75 19.5V15C21.75 13.7593 20.7407 12.75 19.5 12.75ZM20.25 19.5C20.25 19.9138 19.9138 20.25 19.5 20.25H15C14.5861 20.25 14.25 19.9138 14.25 19.5V15C14.25 14.5861 14.5861 14.25 15 14.25H19.5C19.9138 14.25 20.25 14.5861 20.25 15V19.5Z' fill='%23#{$color}'/%3E%3Cpath d='M15.7046 9.26442C15.8511 9.41082 16.0884 9.41082 16.2349 9.26435L16.7652 8.7341C16.9116 8.58762 16.9116 8.35017 16.7651 8.2037L15.3108 6.74997H18C18.4143 6.74997 18.75 7.08575 18.75 7.49997V10.875C18.75 11.082 18.918 11.25 19.125 11.25H19.875C20.0821 11.25 20.25 11.082 20.25 10.875V7.49997C20.25 6.2573 19.2427 5.24997 18 5.24997H15.3104L16.7645 3.79535C16.9109 3.64887 16.9109 3.4115 16.7644 3.2651L16.2342 2.73485C16.0877 2.58837 15.8502 2.58837 15.7038 2.73492L12.9696 5.4698C12.6768 5.7626 12.6768 6.23742 12.9697 6.53022L15.7046 9.26442Z' fill='%23#{$color}'/%3E%3Cpath d='M8.29545 14.7355C8.14898 14.5891 7.9116 14.5891 7.76513 14.7356L7.23487 15.2658C7.0884 15.4123 7.0884 15.6497 7.23495 15.7962L8.6892 17.25H6C5.58578 17.25 5.25 16.9142 5.25 16.5V13.125C5.25 12.9179 5.08207 12.75 4.875 12.75H4.125C3.91793 12.75 3.75 12.9179 3.75 13.125V16.5C3.75 17.7427 4.75732 18.75 6 18.75H8.68965L7.23555 20.2045C7.08915 20.351 7.08915 20.5884 7.23563 20.7349L7.76587 21.265C7.91235 21.4115 8.1498 21.4115 8.29628 21.265L11.0305 18.5302C11.3233 18.2373 11.3232 17.7625 11.0303 17.4697L8.29545 14.7355Z' fill='%23#{$color}'/%3E%3C/svg%3E%0A");
}
.ico-manage-category {
  @include ico-manage-category($normal-color-only);
  &.ty2 {
    @include ico-manage-category($primary-color-only);
  }
}
@mixin ico-manage-product($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.25 7.77778V17.2222C20.25 18.0366 19.9414 18.8108 19.4026 19.3761C18.8651 19.9402 18.1439 20.25 17.4 20.25H6.6C5.85612 20.25 5.13494 19.9402 4.59737 19.3761C4.05862 18.8108 3.75 18.0366 3.75 17.2222V7.77778C3.75 6.96341 4.05862 6.18924 4.59737 5.62389C5.13494 5.05976 5.85612 4.75 6.6 4.75H17.4C18.1439 4.75 18.8651 5.05976 19.4026 5.62389C19.9414 6.18924 20.25 6.96341 20.25 7.77778Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cmask id='path-2-inside-1_471_1771' fill='white'%3E%3Cpath d='M10 4H14V9C14 9.55228 13.5523 10 13 10H11C10.4477 10 10 9.55228 10 9V4Z'/%3E%3C/mask%3E%3Cpath d='M10 4H14V9C14 9.55228 13.5523 10 13 10H11C10.4477 10 10 9.55228 10 9V4Z' stroke='%23#{$color}' stroke-width='3' mask='url(%23path-2-inside-1_471_1771)'/%3E%3C/svg%3E%0A");
}
.ico-manage-product {
  @include ico-manage-product($normal-color-only);
  &.ty2 {
    @include ico-manage-product($primary-color-only);
  }
}
@mixin ico-policy($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10H16M8 18H16M8 14H12M4 21.4V2.6C4 2.44087 4.06321 2.28826 4.17574 2.17574C4.28826 2.06321 4.44087 2 4.6 2H16.252C16.4111 2.00014 16.5636 2.06345 16.676 2.176L19.824 5.324C19.88 5.3799 19.9243 5.44632 19.9545 5.51943C19.9847 5.59254 20.0002 5.6709 20 5.75V21.4C20 21.4788 19.9845 21.5568 19.9543 21.6296C19.9242 21.7024 19.88 21.7685 19.8243 21.8243C19.7685 21.88 19.7024 21.9242 19.6296 21.9543C19.5568 21.9845 19.4788 22 19.4 22H4.6C4.52121 22 4.44319 21.9845 4.37039 21.9543C4.29759 21.9242 4.23145 21.88 4.17574 21.8243C4.12002 21.7685 4.07583 21.7024 4.04567 21.6296C4.01552 21.5568 4 21.4788 4 21.4Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V5.4C16 5.55913 16.0632 5.71174 16.1757 5.82426C16.2883 5.93679 16.4409 6 16.6 6H20' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-policy {
  @include ico-policy($normal-color-only);
  &.ty2 {
    @include ico-policy($primary-color-only);
  }
}
@mixin ico-manage-claim($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2714 10L13.6254 3.34773C12.8293 2.20796 11.142 2.20796 10.346 3.34773L5.69995 10M8 13L8.74095 17.03M16.1 13L15.359 17.03M12.1833 13V16.9943M4.02245 10C3.71578 10 3.42845 10.1358 3.23341 10.373C3.03837 10.6097 2.96009 10.9182 3.01938 11.2187L4.44173 18.4838C4.68502 19.7281 5.78164 20.6313 7.05004 20.6313H16.9506C18.219 20.6313 19.3156 19.7281 19.5589 18.4838L20.9805 11.2187L20.9813 11.2179C21.0393 10.917 20.9611 10.6085 20.7664 10.3722C20.5714 10.1358 20.2836 10 19.9774 10H4.02245Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-manage-claim {
  @include ico-manage-claim($normal-color-only);
  &.ty2 {
    @include ico-manage-claim($primary-color-only);
  }
}
@mixin ico-manage-answer($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10H16M8 14H12M12 22C17.523 22 22 17.523 22 12C22 6.477 17.523 2 12 2C6.477 2 2 6.477 2 12C2 13.821 2.487 15.53 3.338 17L2.5 21.5L7 20.662C8.51954 21.5411 10.2445 22.0027 12 22Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-manage-answer {
  @include ico-manage-answer($normal-color-only);
  &.ty2 {
    @include ico-manage-answer($primary-color-only);
  }
}
@mixin ico-manage-st($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 14.25V16.5M10.5 12V16.5M13.5 9.75V16.5M16.5 7.5V16.5M6 20.25H18C18.5967 20.25 19.169 20.0129 19.591 19.591C20.0129 19.169 20.25 18.5967 20.25 18V6C20.25 5.40326 20.0129 4.83097 19.591 4.40901C19.169 3.98705 18.5967 3.75 18 3.75H6C5.40326 3.75 4.83097 3.98705 4.40901 4.40901C3.98705 4.83097 3.75 5.40326 3.75 6V18C3.75 18.5967 3.98705 19.169 4.40901 19.591C4.83097 20.0129 5.40326 20.25 6 20.25Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-manage-st {
  @include ico-manage-st($normal-color-only);
  &.ty2 {
    @include ico-manage-st($primary-color-only);
  }
}
@mixin ico-setting($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.343 3.94C10.433 3.398 10.903 3 11.453 3H12.546C13.096 3 13.566 3.398 13.656 3.94L13.805 4.834C13.875 5.258 14.189 5.598 14.585 5.764C14.983 5.928 15.44 5.906 15.79 5.656L16.527 5.129C16.7438 4.97405 17.0085 4.90107 17.274 4.92305C17.5396 4.94502 17.7887 5.06053 17.977 5.249L18.75 6.023C19.14 6.412 19.19 7.025 18.87 7.473L18.343 8.21C18.093 8.56 18.071 9.016 18.236 9.414C18.401 9.811 18.741 10.124 19.166 10.194L20.059 10.344C20.602 10.434 20.999 10.904 20.999 11.453V12.547C20.999 13.097 20.602 13.567 20.059 13.657L19.166 13.806C18.741 13.876 18.401 14.189 18.236 14.586C18.071 14.984 18.093 15.44 18.343 15.79L18.87 16.528C19.19 16.975 19.139 17.588 18.75 17.978L17.976 18.751C17.7877 18.9392 17.5388 19.0546 17.2735 19.0765C17.0082 19.0985 16.7437 19.0257 16.527 18.871L15.789 18.344C15.439 18.094 14.983 18.072 14.586 18.237C14.189 18.402 13.876 18.742 13.805 19.166L13.656 20.06C13.566 20.602 13.096 21 12.546 21H11.452C10.902 21 10.433 20.602 10.342 20.06L10.194 19.166C10.123 18.742 9.81002 18.402 9.41302 18.236C9.01502 18.072 8.55902 18.094 8.20902 18.344L7.47102 18.871C7.02402 19.191 6.41102 19.14 6.02102 18.751L5.24802 17.977C5.05955 17.7887 4.94405 17.5395 4.92207 17.274C4.90009 17.0085 4.97308 16.7438 5.12802 16.527L5.65502 15.79C5.90502 15.44 5.92802 14.984 5.76302 14.586C5.59802 14.189 5.25802 13.876 4.83302 13.806L3.93902 13.656C3.39702 13.566 2.99902 13.096 2.99902 12.547V11.453C2.99902 10.903 3.39702 10.433 3.93902 10.343L4.83302 10.194C5.25702 10.124 5.59802 9.811 5.76302 9.414C5.92802 9.016 5.90602 8.56 5.65602 8.21L5.12902 7.472C4.97408 7.25524 4.90109 6.99053 4.92307 6.72499C4.94505 6.45945 5.06055 6.21034 5.24902 6.022L6.02202 5.249C6.21036 5.06053 6.45948 4.94502 6.72501 4.92305C6.99055 4.90107 7.25527 4.97405 7.47202 5.129L8.20902 5.656C8.55902 5.906 9.01602 5.928 9.41302 5.763C9.81002 5.598 10.123 5.258 10.193 4.834L10.343 3.94Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 12C15 12.7956 14.6839 13.5587 14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15C11.2044 15 10.4413 14.6839 9.87868 14.1213C9.31607 13.5587 9 12.7956 9 12C9 11.2044 9.31607 10.4413 9.87868 9.87868C10.4413 9.31607 11.2044 9 12 9C12.7956 9 13.5587 9.31607 14.1213 9.87868C14.6839 10.4413 15 11.2044 15 12Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-setting {
  @include ico-setting($normal-color-only);
  &.ty2 {
    @include ico-setting($primary-color-only);
  }
}
@mixin ico-outside($color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 12H19M19 12L16 15M19 12L16 9M19 6V5C19 4.46957 18.7893 3.96086 18.4142 3.58579C18.0391 3.21071 17.5304 3 17 3H7C6.46957 3 5.96086 3.21071 5.58579 3.58579C5.21071 3.96086 5 4.46957 5 5V19C5 19.5304 5.21071 20.0391 5.58579 20.4142C5.96086 20.7893 6.46957 21 7 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V18' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-outside {
  @include ico-outside($normal-color-only);
}
.ico-inside {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 12H12M12 12L15 15M12 12L15 9M19 6V5C19 4.46957 18.7893 3.96086 18.4142 3.58579C18.0391 3.21071 17.5304 3 17 3H7C6.46957 3 5.96086 3.21071 5.58579 3.58579C5.21071 3.96086 5 4.46957 5 5V19C5 19.5304 5.21071 20.0391 5.58579 20.4142C5.96086 20.7893 6.46957 21 7 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V18' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-outside-ty2 {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6H17M4 12C4 12 8.53266 12 14 12M4 18H17' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18 15L21 12L18 9' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-inside-ty2 {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6H17M4 12C4 12 8.53266 12 14 12M4 18H17' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 9L18 12L21 15' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-calendar {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.75 3V5.25M17.25 3V5.25M3 18.75V7.5C3 6.90326 3.23705 6.33097 3.65901 5.90901C4.08097 5.48705 4.65326 5.25 5.25 5.25H18.75C19.3467 5.25 19.919 5.48705 20.341 5.90901C20.7629 6.33097 21 6.90326 21 7.5V18.75M3 18.75C3 19.3467 3.23705 19.919 3.65901 20.341C4.08097 20.7629 4.65326 21 5.25 21H18.75C19.3467 21 19.919 20.7629 20.341 20.341C20.7629 19.919 21 19.3467 21 18.75M3 18.75V11.25C3 10.6533 3.23705 10.081 3.65901 9.65901C4.08097 9.23705 4.65326 9 5.25 9H18.75C19.3467 9 19.919 9.23705 20.341 9.65901C20.7629 10.081 21 10.6533 21 11.25V18.75' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.3828 12.3438V18H9.20312V13.4609H9.17188L7.875 14.2734V13.2344L9.27344 12.3438H10.3828Z' fill='black'/%3E%3Cpath d='M11.5353 18L11.5275 17.1484L13.5588 15.2812C14.0861 14.7773 14.3713 14.4648 14.3713 14.0156C14.3713 13.5117 13.9923 13.1992 13.4728 13.2031C12.9416 13.1992 12.5939 13.5352 12.5978 14.0781H11.4806C11.4767 12.9727 12.297 12.2656 13.4884 12.2656C14.6994 12.2656 15.5041 12.957 15.5041 13.9375C15.5041 14.582 15.1916 15.1094 14.0275 16.1641L13.1681 17V17.0312H15.5822V18H11.5353Z' fill='black'/%3E%3C/svg%3E%0A");
}
.ico-search-ty2 {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L15.803 15.803M15.803 15.803C17.2096 14.3964 17.9998 12.4887 17.9998 10.4995C17.9998 8.51031 17.2096 6.60258 15.803 5.196C14.3965 3.78943 12.4887 2.99922 10.4995 2.99922C8.51035 2.99922 6.60262 3.78943 5.19605 5.196C3.78947 6.60258 2.99927 8.51031 2.99927 10.4995C2.99927 12.4887 3.78947 14.3964 5.19605 15.803C6.60262 17.2096 8.51035 17.9998 10.4995 17.9998C12.4887 17.9998 14.3965 17.2096 15.803 15.803Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-download-ty2 {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 20H18M12 4V16M12 16L15.5 12.5M12 16L8.5 12.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
@mixin ico-check($size, $color) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='#{$size}' height='#{$size}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 13L9 17L19 7' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-check {
  @include ico-check($normal-size, $normal-color-only);
  &.small {
    @include ico-check($small-size, $normal-color-only);
    &.ty2 {
      @include ico-check($small-size, $white-color-only);
    }
  }
  &.ty2 {
    @include ico-check($normal-size, $white-color-only);
  }
}
.ico-slider {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 9L12 6L9 9M15 15L12 18L9 15' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-close-ty2 {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.75806 17.243L12.0011 12L17.2441 17.243M17.2441 6.757L12.0001 12L6.75806 6.757' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-plus {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12H12M12 12H18M12 12V6M12 12V18' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-minus {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12H12H18' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-circle {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='6' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E%0A");
}
.ico-upload {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 4L6 4M12 20L12 8M12 8L8.5 11.5M12 8L15.5 11.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-bell {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.73 21C13.5544 21.3033 13.3021 21.5552 12.9985 21.7302C12.6948 21.9053 12.3505 21.9974 12 21.9974C11.6495 21.9974 11.3052 21.9053 11.0015 21.7302C10.6979 21.5552 10.4456 21.3033 10.27 21M18 8.4C18 6.703 17.368 5.075 16.243 3.875C15.117 2.675 13.59 2 12 2C10.409 2 8.883 2.674 7.757 3.875C6.632 5.075 6 6.703 6 8.4C6 15.867 3 18 3 18H21C21 18 18 15.867 18 8.4Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-bell-ty2 {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 8C19.7956 8 20.5587 7.68393 21.1213 7.12132C21.6839 6.55871 22 5.79565 22 5C22 4.20435 21.6839 3.44129 21.1213 2.87868C20.5587 2.31607 19.7956 2 19 2C18.2044 2 17.4413 2.31607 16.8787 2.87868C16.3161 3.44129 16 4.20435 16 5C16 5.79565 16.3161 6.55871 16.8787 7.12132C17.4413 7.68393 18.2044 8 19 8Z' fill='%23FF1C37'/%3E%3Cpath d='M18.134 11C18.715 16.375 21 18 21 18H3C3 18 6 15.867 6 8.4C6 6.703 6.632 5.075 7.757 3.875C8.883 2.675 10.41 2 12 2C12.337 2 12.672 2.03 13 2.09M13.73 21C13.5544 21.3033 13.3021 21.5552 12.9985 21.7302C12.6948 21.9053 12.3505 21.9974 12 21.9974C11.6495 21.9974 11.3052 21.9053 11.0015 21.7302C10.6979 21.5552 10.4456 21.3033 10.27 21' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-home-ty2 {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.25 12L11.204 3.04499C11.644 2.60599 12.356 2.60599 12.795 3.04499L21.75 12M4.5 9.74999V19.875C4.5 20.496 5.004 21 5.625 21H9.75V16.125C9.75 15.504 10.254 15 10.875 15H13.125C13.746 15 14.25 15.504 14.25 16.125V21H18.375C18.996 21 19.5 20.496 19.5 19.875V9.74999M8.25 21H16.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-fast-backward {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 18L6 12L12 6' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18 18L12 12L18 6' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-fast-forward {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6L12 12L6 18' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 6L18 12L12 18' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
@mixin ico-backward($size) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='#{$size}' height='#{$size}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 18L9 12L15 6' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-backward {
  @include ico-backward($normal-size);
  &.small {
    @include ico-backward($small-size);
  }
  &.large {
    @include ico-backward($large-size);
  }
}
@mixin ico-forward($size) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='#{$size}' height='#{$size}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 6L15 12L9 18' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.ico-forward {
  @include ico-forward($normal-size);
  &.small {
    @include ico-forward($small-size);
  }
}
.ico-backward-ty2 {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 7L9.21213 11.7879C9.09497 11.905 9.09497 12.095 9.21213 12.2121L14 17' stroke='%23999999' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.ico-forward-ty2 {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 17L14.7879 12.2121C14.905 12.095 14.905 11.905 14.7879 11.7879L10 7' stroke='%23999999' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
@mixin ico-circle-close($size) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='#{$size}' height='#{$size}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' fill='%23CCCCCC'/%3E%3Cpath d='M9 8.99994L14.9998 14.9997' stroke='white' stroke-width='1.5' stroke-linecap='square'/%3E%3Cpath d='M15 8.99994L9.0002 14.9997' stroke='white' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}
.ico-circle-close {
  @include ico-circle-close($normal-size);
  &.small {
    @include ico-circle-close($small-size);
  }
}
@mixin ico-up($size) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='#{$size}' height='#{$size}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1485 7.38264C11.5391 6.74848 12.4609 6.74848 12.8515 7.38264L17.9894 15.7256C18.3997 16.3919 17.9204 17.25 17.1379 17.25H6.86206C6.07959 17.25 5.60026 16.3919 6.01057 15.7256L11.1485 7.38264Z' fill='%2342444E'/%3E%3C/svg%3E%0A");
}
.button:disabled .ico-up.mini {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.82199 1.18645C5.42431 0.612441 4.57569 0.612441 4.17801 1.18645L0.891226 5.93051C0.431747 6.59371 0.906402 7.5 1.71322 7.5L8.28678 7.5C9.0936 7.5 9.56825 6.59371 9.10877 5.93051L5.82199 1.18645Z' fill='%23999999'/%3E%3C/svg%3E%0A");
}
.ico-up {
  @include ico-up($normal-size);
  &.small {
    @include ico-up($small-size);
  }
  &.mini {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.82199 1.18645C5.42431 0.612441 4.57569 0.612441 4.17801 1.18645L0.891226 5.93051C0.431747 6.59371 0.906402 7.5 1.71322 7.5L8.28678 7.5C9.0936 7.5 9.56825 6.59371 9.10877 5.93051L5.82199 1.18645Z' fill='%2342444E'/%3E%3C/svg%3E%0A");
  }
}
@mixin ico-down($size) {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='#{$size}' height='#{$size}' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8515 16.6174C12.4609 17.2515 11.5391 17.2515 11.1485 16.6174L6.01057 8.27438C5.60026 7.60812 6.07959 6.75 6.86205 6.75L17.1379 6.75C17.9204 6.75 18.3997 7.60812 17.9894 8.27438L12.8515 16.6174Z' fill='%2342444E'/%3E%3C/svg%3E%0A");
}
.button:disabled .ico-down.mini {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z' fill='%23999999'/%3E%3C/svg%3E%0A");
}
.ico-down {
  @include ico-down($normal-size);
  &.small {
    @include ico-down($small-size);
  }
  &.mini {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z' fill='%2342444E'/%3E%3C/svg%3E%0A");
  }
}
.ico-circle-up {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23E5E9F2'/%3E%3Cpath d='M11.1891 9.1236C11.5883 8.57054 12.4117 8.57054 12.8109 9.12359L15.1861 12.4148C15.6634 13.0762 15.1908 14 14.3752 14H9.62478C8.80917 14 8.3366 13.0762 8.8139 12.4148L11.1891 9.1236Z' fill='%2342444E'/%3E%3C/svg%3E%0A");
}
.ico-circle-down {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23E5E9F2'/%3E%3Cpath d='M12.8109 14.8764C12.4117 15.4295 11.5883 15.4295 11.1891 14.8764L8.8139 11.5852C8.3366 10.9238 8.80917 10 9.62478 10L14.3752 10C15.1908 10 15.6634 10.9238 15.1861 11.5852L12.8109 14.8764Z' fill='%2342444E'/%3E%3C/svg%3E%0A");
}
.ico-question {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='%23DBDBDB'/%3E%3Cpath d='M9.5 9.63214C9.5 6.12262 14.5 6.12262 14.5 9.63214C14.5 12.1389 11.8377 11.6376 11.8377 14.6458M11.8377 17L11.8455 16.989' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-in-side {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 2H7C5.3 2 4 3.3 4 5V11H12.6L10.3 8.7C9.9 8.3 9.9 7.7 10.3 7.3C10.7 6.9 11.3 6.9 11.7 7.3L15.7 11.3C16.1 11.7 16.1 12.3 15.7 12.7L11.7 16.7C11.3 17.1 10.7 17.1 10.3 16.7C9.9 16.3 9.9 15.7 10.3 15.3L12.6 13H4V19C4 20.7 5.3 22 7 22H17C18.7 22 20 20.7 20 19V5C20 3.3 18.7 2 17 2Z' fill='%236F8DD2'/%3E%3C/svg%3E%0A");
}
.ico-circle-plus {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' fill='%23CCCCCC'/%3E%3Cpath d='M12 7.75735L12 16.2424' stroke='white' stroke-width='1.5' stroke-linecap='square'/%3E%3Cpath d='M16.2427 12L7.75768 12' stroke='white' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}
.ico-setting-ty2 {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.525 7.745L19.622 10.395L22 11V12.978L19.614 13.598L18.516 16.25L20 18L18 20C18 20 16.697 18.831 16.255 18.515L13.604 19.613L13 22H11L10.397 19.612L7.791 18.54L6 20L4 18L5.516 16.3L4.401 13.655L2 13V11L4.373 10.446L5.453 7.789L4 6L6 4L7.704 5.516L10.349 4.401L10.981 2H12.935L13.558 4.37L16.265 5.483L18 4L20 6L18.525 7.745ZM12 8.25C11.0054 8.25 10.0516 8.64509 9.34835 9.34835C8.64509 10.0516 8.25 11.0054 8.25 12C8.25 12.9946 8.64509 13.9484 9.34835 14.6517C10.0516 15.3549 11.0054 15.75 12 15.75C12.9946 15.75 13.9484 15.3549 14.6517 14.6517C15.3549 13.9484 15.75 12.9946 15.75 12C15.75 11.0054 15.3549 10.0516 14.6517 9.34835C13.9484 8.64509 12.9946 8.25 12 8.25ZM10.409 10.409C10.831 9.98705 11.4033 9.75 12 9.75C12.5967 9.75 13.169 9.98705 13.591 10.409C14.0129 10.831 14.25 11.4033 14.25 12C14.25 12.5967 14.0129 13.169 13.591 13.591C13.169 14.0129 12.5967 14.25 12 14.25C11.4033 14.25 10.831 14.0129 10.409 13.591C9.98705 13.169 9.75 12.5967 9.75 12C9.75 11.4033 9.98705 10.831 10.409 10.409Z' fill='%236F8DD2'/%3E%3C/svg%3E%0A");
}
.ico-alert {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z' fill='%23FF1C37'/%3E%3Cpath d='M12.6348 7L12.546 13.6016H11.4796L11.3907 7H12.6348ZM12.0128 16.2676C11.5684 16.2676 11.1876 15.8994 11.2003 15.4424C11.1876 14.998 11.5684 14.6299 12.0128 14.6299C12.4571 14.6299 12.8253 14.998 12.8253 15.4424C12.8253 15.8994 12.4571 16.2676 12.0128 16.2676Z' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E%0A");
}
.ico-middot {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.ico-square-question {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' fill='black' fill-opacity='0.5'/%3E%3Cpath d='M18 18L14.5355 14.5355M14.5355 14.5355C15.4732 13.5978 15.9999 12.326 15.9999 11C15.9999 9.6739 15.4732 8.40213 14.5355 7.46446C13.5978 6.52678 12.326 6 11 6C9.6739 6 8.40213 6.52678 7.46446 7.46446C6.52678 8.40213 6 9.6739 6 11C6 12.326 6.52678 13.5978 7.46446 14.5355C8.40213 15.4732 9.6739 15.9999 11 15.9999C12.326 15.9999 13.5978 15.4732 14.5355 14.5355Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ico-exclamation {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='%23EEEEEE'/%3E%3Cpath d='M12.8938 6L12.787 14.589H11.4144L11.2993 6H12.8938ZM11.25 17.2027C11.25 16.9562 11.324 16.7479 11.4719 16.5781C11.6253 16.4082 11.85 16.3233 12.1459 16.3233C12.4363 16.3233 12.6582 16.4082 12.8116 16.5781C12.9705 16.7479 13.05 16.9562 13.05 17.2027C13.05 17.4384 12.9705 17.6411 12.8116 17.811C12.6582 17.9808 12.4363 18.0658 12.1459 18.0658C11.85 18.0658 11.6253 17.9808 11.4719 17.811C11.324 17.6411 11.25 17.4384 11.25 17.2027Z' fill='%23C6C6C6'/%3E%3C/svg%3E%0A");
}
.ico-circle-new {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='%23FF1C37'/%3E%3Cpath d='M15.5 7.5V16.5H14.1353L10.1 10.3467H10.0294V16.5H8.5V7.5H9.88824L13.9 13.6533H13.9824V7.5H15.5Z' fill='white'/%3E%3C/svg%3E%0A");
}
.ico-view-list {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='6' width='14' height='2' fill='%23E0E0E0'/%3E%3Crect x='5' y='11' width='14' height='2' fill='%23E0E0E0'/%3E%3Crect x='5' y='16' width='14' height='2' fill='%23E0E0E0'/%3E%3C/svg%3E%0A");
}
.ico-view-thumb {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6H11V11H6V6Z' fill='%23E0E0E0'/%3E%3Cpath d='M6 13H11V18H6V13Z' fill='%23E0E0E0'/%3E%3Cpath d='M13 6H18V11H13V6Z' fill='%23E0E0E0'/%3E%3Cpath d='M13 13H18V18H13V13Z' fill='%23E0E0E0'/%3E%3C/svg%3E%0A");
}
.open {
  .ico-my-menu {
    @include ico-my-menu($primary-color-only);
  }
  .ico-manage-collect {
    @include ico-manage-collect($primary-color-only);
  }
  .ico-manage-product {
    @include ico-manage-product($primary-color-only);
  }
  .ico-policy {
    @include ico-policy($primary-color-only);
  }
  .ico-manage-claim {
    @include ico-manage-claim($primary-color-only);
  }
  .ico-manage-answer {
    @include ico-manage-answer($primary-color-only);
  }
  .ico-manage-st {
    @include ico-manage-st($primary-color-only);
  }
  .ico-setting {
    @include ico-setting($primary-color-only);
  }
}
.ty-2 {
  .open {
    color: #ff602b;
    .ico-my-menu {
      @include ico-my-menu($orange-color-only);
    }
    .ico-manage-category {
      @include ico-manage-category($orange-color-only);
    }
    .ico-manage-solution {
      @include ico-manage-solution($orange-color-only);
    }
    .ico-manage-board {
      @include ico-manage-board($orange-color-only);
    }
    .ico-manage-terms {
      @include ico-manage-terms($orange-color-only);
    }
    .ico-manage-site {
      @include ico-manage-site($orange-color-only);
    }
    .ico-manage-collect {
      @include ico-manage-collect($orange-color-only);
    }
    .ico-manage-product {
      @include ico-manage-product($orange-color-only);
    }
    .ico-policy {
      @include ico-policy($orange-color-only);
    }
    .ico-manage-claim {
      @include ico-manage-claim($orange-color-only);
    }
    .ico-manage-answer {
      @include ico-manage-answer($orange-color-only);
    }
    .ico-manage-st {
      @include ico-manage-st($orange-color-only);
    }
    .ico-setting {
      @include ico-setting($orange-color-only);
    }
  }
}
.lnb-inner.fold {
  .open {
    .ico-my-menu {
      @include ico-my-menu($white-color-only);
    }
    .ico-manage-collect {
      @include ico-manage-collect($white-color-only);
    }
    .ico-manage-product {
      @include ico-manage-product($white-color-only);
    }
    .ico-policy {
      @include ico-policy($white-color-only);
    }
    .ico-manage-claim {
      @include ico-manage-claim($white-color-only);
    }
    .ico-manage-answer {
      @include ico-manage-answer($white-color-only);
    }
    .ico-manage-st {
      @include ico-manage-st($white-color-only);
    }
    .ico-setting {
      @include ico-setting($white-color-only);
    }
    .ico-manage-category {
      @include ico-manage-category($white-color-only);
    }
    .ico-manage-solution {
      @include ico-manage-solution($white-color-only);
    }
    .ico-manage-site {
      @include ico-manage-site($white-color-only);
    }
    .ico-manage-board {
      @include ico-manage-board($white-color-only);
    }
    .ico-manage-terms {
      @include ico-manage-terms($white-color-only);
    }
  }
}
.btn-checked {
  margin: 0;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 22C15.5228 22 20 17.5228 20 12C20 6.47715 15.5228 2 10 2C4.47715 2 0 6.47715 0 12C0 17.5228 4.47715 22 10 22ZM15.57 9.23445C15.9605 8.84393 15.9605 8.21076 15.57 7.82024C15.1794 7.42971 14.5463 7.42971 14.1557 7.82024L7.9184 14.0576L5.84773 11.9869C5.45721 11.5964 4.82404 11.5964 4.43352 11.9869C4.04299 12.3774 4.04299 13.0106 4.43352 13.4011L7.2113 16.1789C7.60182 16.5694 8.23499 16.5694 8.62551 16.1789L15.57 9.23445Z' fill='%23055DB5'/%3E%3C/svg%3E%0A");
}
