.market .tab-container .close-tab {
  display: block;
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='m257.5-239-18-18.5 222-222.5-222-222.5 18-18.5L480-498.5 702.5-721l18 18.5-222 222.5 222 222.5-18 18.5L480-461.5 257.5-239Z'/%3E%3C/svg%3E");
  background-position: center center;
  cursor: pointer;
  font-size: 0;
}

.tab-container ul {
  display: flex;
  background-color: #eee;
}

.tab {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: #eee;
}

.tab:hover {
  background-color: #fff;
}

.tab.active {
  background-color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
}

.tab-content {
  display: none;
  padding: 20px;
  iframe body {
    margin: 0;
  }
}

.tab-content.active {
  display: block;
}
.folding-list li .folding-panel {
  display: none;
}
.folding-list li.open .folding-panel {
  display: block;
}
